/* Temp style for video */
.index-main-hero {
  height: auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/common/styleguide/images/background/contour_purple_xs.png');
  @media (min-width: $screen-sm) {
    min-height: 550px;
    height: calc(100vh - #{$header-height});
    padding-bottom: 0;
    background-image: none;
    background-color: nth($mz-darkpurples, 1);
  }
  /* gradation on mobile */
  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-image:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 1)
      );
    pointer-events: none; // Gradient overlay should not obscure mouse clicks.
    @media (min-width: $screen-sm) {
      content: none;
    }
  }
}

// iframe to embed video background
.index-main-hero .hero-background-wrapper {
  width: 100%;
  height: calc(100% + 80px);
  z-index: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -40px; /* to hide control*/
  pointer-events: none;
  &.video {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &.mobile-image {
    display: block;
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}


@keyframes fadein {
  from {opacity: 0.5;}
  to {opacity: 1;}
}
/* preview image before video cues up */
.index-main-hero .preview-image {
  display: none;
  @media (min-width: $screen-sm) {
    width: calc(100% + 40px);
    height: calc(100% + 80px);
    z-index: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -40px; /* to hide control*/
    pointer-events: none;
    transform: scale(1.004, 1);
    background-image: url('/common/styleguide/images/main-preview.jpg');
    background-size: 100% 100%;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}


.index-hero-float-box {
  @media (min-width: $screen-sm) {
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 1;
    top: 50px;
  }
}

.index-hero-copy-wrapper {
  width: auto;
  display: inline-block;
  padding-left: 36px;
  padding-right: 36px;
  max-width: 670px;
  @media (min-width: $screen-sm) {
    background-color: rgba(255, 255, 255, 0.7);
  }
  @media (min-width: $screen-lg) {
    margin-left: -48px;
  }
}
.index-hero-copy-wrapper h1 {
  margin-bottom: 18px;
  // Our hero logo is way too long to dispay with our original h1 font-size
  font-size: 36px;
  color: #fff;
  @media (min-width: $screen-sm) {
    font-size: 48px;
    color: nth($mz-darkpurples, 1);
  }
}

.index-hero-copy-wrapper .btn-with-arrow {
  margin-bottom: 24px;
}
