$editor-gradient-color: $mz-darkpurple-1;
$editor-border-radius: 5px;

.editor-wrapper {
  width: 100%;
  height: $section-height - $section-padding*2;
  border-radius: $editor-border-radius;
  overflow: hidden;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: $editor-border-radius;
    background: -webkit-linear-gradient(rgba($editor-gradient-color, 0) 25%, $editor-gradient-color 97%);
    background: linear-gradient(rgba($editor-gradient-color, 0) 25%, $editor-gradient-color 97%);
    position: absolute;
    pointer-events: none;
  }
}

.editor-snippet {
  @media (min-width: $screen-sm) {
    width: 100%;
    height: 100%;
    border: 0;
    color: #fff;
    background-color: #1e0f33;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 1.5em;
    padding-right: 3em;
  }

  // Syntax highlighting
  .cp, .nt {
    color: #ff112f;
  }
  .na {
    color: $mz-pink-2;
  }
  .s {
    color: $mz-purple-2;
  }
}