/* This map gallery was initiated to be included on index page */
/* But we changed our index page design, so this map gallery is not used on index page any more */
/* Leaving this code here since we are discussing to include map gallery on  new upcoming page of mapzen.com */

$map-gallery-xs-height: 256px;

.map-gallery {
  div[class*='row']{
    margin: 0 -6px;
  }
  div[class*='col-']{
    padding: 0 6px;
  }
  .image-box {
    border-radius: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
    .name {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      padding: 6px 12px;
      border-radius: 0 0 5px 5px;
      font-weight: 300;
      font-family: $display-font-family;
    }
  }

  .full-height {
    height: $map-gallery-xs-height;
    @media (min-width: $screen-sm) {
      height: $section-height - $section-padding*2;
    }
  }
  .half-height {
    height: (($section-height - $section-padding*3)/2) - 6px;
    margin-bottom: 12px;

    @media (min-width: $screen-sm) {
      height: ($section-height - $section-padding*2)/2 - 12px;;
      margin-bottom: 24px;
    }
  }

  .map-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .refill {
    background-image: url(/common/styleguide/images/maps/refill.png);
    @media #{$hidpi-screens} {
      background-image: url(/common/styleguide/images/maps/refill@2x.png);
    }
  }
  .tron {
    background-image: url(/common/styleguide/images/maps/tron.png);
    @media #{$hidpi-screens} {
      background-image: url(/common/styleguide/images/maps/tron@2x.png);
    }
  }
  .walkabout {
    background-image: url(/common/styleguide/images/maps/walkabout.png);
    @media #{$hidpi-screens} {
      background-image: url(/common/styleguide/images/maps/walkabout@2x.png);
    }
  }
  .bubble {
    background-image: url(/common/styleguide/images/maps/bubble-wrap.png);
    @media #{$hidpi-screens} {
      background-image: url(/common/styleguide/images/maps/bubble-wrap@2x.png);
    }
  }
}

.text-box-wrapper {
  position: relative;
  height: auto;
  @media (min-width: $screen-sm) {
    height: $section-height - $section-padding*2;
  }
}

.text-box-wrapper > .text-box {
  @media (min-width: $screen-sm) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
