@import "../../bootstrap/variables";
@import "../../bootstrap/mixins";
@import "../../bootstrap/dropdowns";
@import "../../common/colors";

body {
  margin-top: 0;
}

.color-value {
    border: 1px solid #ccc;
    padding: 25px 20px;
    margin-bottom: 10px;
}

.color-value code {
  padding: 5px;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 20px;
  float: right;
}

//only for introduction part without rendering html part
.xrayhtml.boilerplate {
  .source-panel {
    margin-top: 0;
  }
}

.xrayhtml .source-panel pre {
  padding: 0;
  position: relative;

  // copy snippet style
  .copy-btn {
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    padding: 5px;
    &.hide {
      display: none;
    }
    &.show {
      display: block;
    }
  }
  .copied {
    // tool tip to show snippet was succdssfully copied
    &::after {
      content: 'Copied!!';
      background-color: #6ea0a4 ;
      color: #fff;
      position: absolute;
      right: 0px;
      top: 30px;
      padding: 5px;
    }
  }
  .no-copied {
    &::after {
      content: 'Copy Failed';
      background-color: #d4645c;
      color: #fff;
      position: absolute;
      right: 0px;
      top: 30px;
      padding: 5px;
    }
  }
}

.xrayhtml pre {
  background-size: 8px 8px;
  background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.02) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02));

  code {
    background-color: transparent;
    margin: 0;
    background-image: none;
  }
}


//overriding prism style
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f8f8f8;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

// Override because there is no top nav bar
.toc.affix {
  top: 30px;
}

//Classes for styleguide
.color-swatch {
  position: relative;
  height: 130px;
  color: #fff;

  h4 {
    display: none;
  }
}

.color-swatch-inverse {
  color: black;

  .color-swatch-value,
  .color-swatch-name {
    color: rgba(0, 0, 0, 0.8);
  }
}

.color-swatch-value,
.color-swatch-name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.70em;

  p {
    margin: 0;
  }
}

.color-swatch-value {
  margin-top: 10px;
}

.color-swatch-name {
  position: absolute;
  bottom: 10px;
}

.little-box {
  display: inline-block;
  background:  nth($mz-scarlets, 1);
  color: white;
  text-align: center;
}

.mz-darkpurples1 {
  background-color: nth($mz-darkpurples, 1);
}
.mz-darkpurples2 {
  background-color: nth($mz-darkpurples, 2);
}
.mz-darkpurples3 {
  background-color: nth($mz-darkpurples, 3);
}
.mz-darkpurples4 {
  background-color: nth($mz-darkpurples, 4);
}

.mz-scarlets1 {
  background-color: nth($mz-scarlets, 1);
}
.mz-scarlets2 {
  background-color: nth($mz-scarlets, 2);
}
.mz-scarlets3 {
  background-color: nth($mz-scarlets, 3);
}

.mz-pinks1 {
  background-color: nth($mz-pinks, 1);
}
.mz-pinks2 {
  background-color: nth($mz-pinks, 2);
}
.mz-pinks3 {
  background-color: nth($mz-pinks, 3);
}

.mz-purples1 {
  background-color: nth($mz-purples, 1);
}
.mz-purples2 {
  background-color: nth($mz-purples, 2);
}
.mz-purples3 {
  background-color: nth($mz-purples, 3);
}

.mz-black {
  background-color: $mz-black;
}

.mz-darkgray {
  background-color: $mz-darkgray;
}

.mz-mediumgray {
  background-color: $mz-mediumgray;
}

.mz-lightgray {
  background-color: $mz-lightgray;
}
