@import "../../bootstrap/variables";
@import "../../bootstrap/mixins";

@import "../../bootstrap/dropdowns";

body {
  margin-top: 0;
}

.color-value {
    border: 1px solid #ccc;
    padding: 25px 20px;
    margin-bottom: 10px;
}

.color-value code {
  padding: 5px;
  font-weight: 600;
  white-space: nowrap;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

//only for introduction part without rendering html part
.xrayhtml.boilerplate {
  .source-panel {
    margin-top: 0;
  }
}

.xrayhtml .source-panel pre {
  padding: 0;
  position: relative;

  // copy snippet style
  .copy-btn {
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    padding: 5px;
    &.hide {
      display: none;
    }
    &.show {
      display: block;
    }
  }
  .copied {
    // tool tip to show snippet was succdssfully copied
    &::after {
      content: 'Copied!!';
      background-color: #6ea0a4 ;
      color: #fff;
      position: absolute;
      right: 0px;
      top: 30px;
      padding: 5px;
    }
  }
  .no-copied {
    &::after {
      content: 'Copy Failed';
      background-color: #d4645c;
      color: #fff;
      position: absolute;
      right: 0px;
      top: 30px;
      padding: 5px;
    }
  }
}

.xrayhtml pre {
  background-size: 8px 8px;
  background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.04) 25%, rgba(0, 0, 0, 0.04) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.04) 75%, rgba(0, 0, 0, 0.04));

  code {
    background-color: transparent;
    margin: 0;
    background-image: none;
  }
}


//overriding prism style
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f5f5f5;
}




.opensans {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

.playfair {
  font-family: 'Playfair display', serif;
  font-size: 32px;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.simple-shadow {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}



.documentation-hero {
  background-color: #563630;
}

.styleguide-side-nav {
  .toc {
    a {
      color: #563630;
    }

    a:hover,
    a:focus {
      background-color: rgba(86,54,48, 0.2);
      color: #563630;
    }

    .toc-top-level {
      a:hover,
      a:focus {
        background-color: rgba(86,54,48, 0.2);
        color: #563630;
      }
    }

    li.toc-top-level.toc-current > a {
      background-color: #563630;
      color: white;
    }

    li.active > a {
      background-color: #eee;
      box-shadow: inset 4px 0 0 #563630;
    }
  }
}

// Override because there is no top nav bar
.toc {
  max-height: calc(100% - 60px);
}
.toc.affix {
  top: 30px;
}
