
// Special case for h1 on small screens
h1 {
  @media (max-width: $screen-sm) {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}

code, kbd, pre, samp {
  font-family: 'Source Code Pro', monospace;
}

code {
  padding: 4px 8px;
  margin: 0 2px;
  font-size: 14px;
  color: $mz-mediumgray;
  background-color: #f4f4f4;
}

// Special case for code spans that are the only child of its parent element
// They turn into code blocks, but allow for line breaks. See Valhalla API reference
// for an actual use case. TODO: Consider whether they should also adopt the
// border and background of other code blocks?
// NEVER MIND, this does not work because CSS ignores text-nodes; this creates
// block elements when only one code element exists in an otherwise text-only paragraph.
/*
p > code:first-child:last-child {
  display: block;
}
*/

// UPDATED so lighter contrast
pre {
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 3px solid #eee;
  border-radius: 0;
  background-color: #f8f8f8;
  background-size: 8px 8px;
  background-image: linear-gradient(
    135deg,
    transparent 25%,
    rgba(0, 0, 0, 0.02) 25%,
    rgba(0, 0, 0, 0.02) 50%,
    transparent 50%,
    transparent 75%,
    rgba(0, 0, 0, 0.02) 75%,
    rgba(0, 0, 0, 0.02)
  );
  font-size: inherit;
  // Updated because lack of <code> child element
  overflow-x: auto;
  position: relative; // Fixes section anti-headbutt code from intercepting interactions with scrollbar.

  // Wrapping needs some work
  word-wrap: normal; // Just this prevents wrapping

  // No matter what, enforce wrapping for print
  @media print {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

/* Note: <code> is not appearing inside <pre> for codehilite blocks */
pre code {
  position: relative; // Fixes section anti-headbutt code from intercepting interactions with scrollbar.
  margin: 0;
 // padding: 1em !important; /* overwrite .hljs padding */
  white-space: pre;
  word-wrap: normal;
  background-color: transparent;
}

// Nested blocks should have normal margins
li > pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Reset code inside headers */
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  padding: inherit;
  margin: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
}
