<div class="headroom-large">
  <h5>Buttons</h5>
  <p>This is the primary button style for important calls to action. Two primary buttons cannot be used next to each other.</p>
  <div data-xrayhtml class="prism">
    <button class="btn btn-mapzen">main call to action</button>
  </div>

  <p>This is the secondary button style. Used next to a primary style if there are two buttons next to each other</p>
  <div data-xrayhtml class="prism">
    <button class="btn btn btn-transparent">secondary call to action</button>
  </div>
</div>