<div class="jobs headroom-large">
    <h5>Button styles</h5>

    <div class="row job-info-container first">
        <p class="static-content footroom">This is the primary button style for important calls to action. Two primary buttons cannot be used next to each other.</p>
      <div class="col-md-6">
        <button class="btn btn-mapzen">primary button</button>
      </div>
      <div class="col-md-6">
        <pre><code class="language-text">&lt;button class="btn btn-mapzen"&gt;button &lt;/button&gt;</code></pre>
      </div>
    </div>

    <div class="row job-info-container first">
      <p class="static-content footroom">This is the secondary button style. Used next to a primary style if there are two buttons next to each other</p>
      <div class="col-md-6">
        <button class="btn btn btn-transparent">secondary button</button>
        </div>
      <div class="col-md-6">
        <pre><code class="language-text">&lt;button class="btn btn-mapzen"&gt;button &lt;/button&gt;</code></pre>
      </div>
    </div>
</div>