    <div class="row">
      <div class="col-md-6 blog-excerpt">
        <p>This is the primary button style for important calls to action. Two primary buttons cannot be used next to each other.</p>
        <button class="btn btn-mapzen">primary button</button>
      </div>
      <div class="col-md-6">
        <pre><code class="language-text">&lt;button class="btn btn-mapzen"&gt;button &lt;/button&gt;</code></pre>
      </div>
    </div>

    <div class="row headroom-large">
      <div class="col-md-6">
        <button class="btn btn-transparent">secondary button</button>
        <p>This is the primary button style for important calls to action. Two primary buttons cannot be used next to each other.</p>
      </div>
      <div class="col-md-6">
        <pre>&lt;button class="btn btn-transparent"&gt;secondary button &lt;/button&gt;</pre>
      </div>
    </div>