$hero-section-xs-height: 480px;
$hero-section-height: 950px;
$hero-section-top-padding: 144px;
$hero-section-top-xs-padding: 72px;

.hero-section-wrapper {
  position: relative;
}


.hero-section-wrapper:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image:
  linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255, 255, 255, 255) 100%
  );
}

.hero-section-wrapper > .hero-section {
  overflow: hidden;
  padding-top: $hero-section-top-xs-padding;
  padding-bottom: $section-xs-padding;
  @media (min-width: $screen-sm) {
    padding-top: $hero-section-top-padding;
    padding-bottom: $section-padding;
  }
}

.hero-section-wrapper > .hero-section img {
  width: 100%;
  height: auto;
}


.hero-section-wrapper {
  h1, h2, h3 {
    margin-top: 0;
  }
}