$hero-section-xs-height: 480px;
$hero-section-height: 800px;

.hero-section-wrapper {
  position: relative;
}

/* Hero section wrapper needs height property for its pseudo class (gradient) */
.hero-section-wrapper.fixed-height {
  height: $hero-section-xs-height;
  @media (min-width: $screen-sm) {
    height: $hero-section-height;
  }
}

.hero-section-wrapper:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image:
  linear-gradient(
    to bottom,
    rgba(255,255,255,0) 95%,
    rgba(255, 255, 255, 255) 100%
  );
}

.hero-section-wrapper > .hero-section {
  height: 100%;
  overflow: hidden;
  padding-top: $section-xs-padding;
  @media (min-width: $screen-sm) {
    padding-top: $section-padding;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hero-section-wrapper > .hero-section img {
  width: 100%;
  height: auto;
}
