$index-section-height: 700px;
$index-section-padding: 128px;
$index-section-xs-padding: 72px;

// index page of mapzen.com

// Margin removed to support transparent navbar
body.index_page {
  margin-top: 0;
}

.index-section {
  padding-top: $index-section-xs-padding;
  padding-bottom: $index-section-xs-padding;
  text-align: center;
  @media (min-width: $screen-sm) {
    padding-top: $index-section-padding;
    padding-bottom: $index-section-padding;
    overflow: hidden;
    position: relative;
    text-align: left;
  }
}

.index-section.expanded {
  @media (min-width: $screen-sm) {
    height: $index-section-height;
  }
}

.index-section.colored-bg {
  background-color: nth($mz-scarlets, 2);
  background: url(/common/styleguide/images/placeholders/background-images/test.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
  }
}

.index-section {
  h1, h2, h3 {
    margin-top: 0;
  }

  .overflowing {
    margin-left: -350px;
    max-width: calc(100% + 350px);
    position: relative;
    overflow: hidden;
    height: $index-section-height - $index-section-padding*3;
    @media (min-width: $screen-sm) {
      height: $index-section-height - $index-section-padding*2;
    }
  }

  .overflowing:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image:
      linear-gradient(
        to right,
        white,
        rgba(255,255,255,0) 15%
    );
    overflow: hidden;
  }

  .overflowing {

    .image-box {
      border-radius: 5px;
      position: relative;
      width: 100%;
      .name {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        color: #ffffff;
        padding: 0 12px;
        border-radius: 0 0 5px 5px;
      }
    }

    .full-height {
      height: $index-section-height - $index-section-padding*3;
      @media (min-width: $screen-sm) {
        height: $index-section-height - $index-section-padding*2;
      }
    }
    .half-height {
      height: (($index-section-height - $index-section-padding*3)/2) - 6px;
      margin-bottom: 12px;
      @media (min-width: $screen-sm) {
        height: ($index-section-height - $index-section-padding*2)/2 - 12px;;
        margin-bottom: 24px;
      }
    }

    .refill { background-image: url(/common/styleguide/images/placeholders/refill.png);}
    .tron { background-image: url(/common/styleguide/images/placeholders/tron.png);}
    .zinc { background-image: url(/common/styleguide/images/placeholders/zinc.png);}
    .bubble { background-image: url(/common/styleguide/images/placeholders/bubble.png);}
  }


  .text-box-wrapper {
  position: relative;
  height: auto;
    @media (min-width: $screen-sm) {
      height: $index-section-height - $index-section-padding*2;
    }
  }


  .text-box-wrapper > .text-box {
    @media (min-width: $screen-sm) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .editor-snippet {
    // Do not show on mobile
    width: 0;
    height: 0;
    @media (min-width: $screen-sm) {
      width: $index-section-height;
      height: $index-section-height - $index-section-padding*2;
      border: 0;
      color: #fff;
      background-color: #1e0f33;
      border-radius: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0;
    }
    &:before {
      width: $index-section-height;
      height: $index-section-height - $index-section-padding*2;
      border-radius: 5px;
      content: ' ';
      background: linear-gradient(rgba(255, 255, 255, 0) 25%, #1e0f33 97%);
      position: absolute;
    }

    // Syntax highlighting
    .cp, .nt {
      color: #FF112F;
    }
    .na {
      color: nth($mz-pinks, 2);
    }
    .s {
      color: nth($mz-purples, 2);
    }
  }
}

.btn-fluid {
  min-width: 100%;
}
