.hero-float-box {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 150px;
}

.hero-copy-wrapper {
  width: auto;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 36px;
  padding-right: 36px;
  max-width: 700px;
  @media (min-width: $screen-lg) {
    margin-left: -48px;
  }
}
.hero-copy-wrapper h1 {
  margin-bottom: 18px;
}
.hero-copy-wrapper .btn-with-arrow {
  margin-bottom: 24px;
}
