/* Temp style for video */
.index-main-hero {
  min-height: 550px;
  height: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
  @media (min-width: $screen-sm) {
    height: calc(100vh - #{$header-height});
  }
}

// iframe to embed video background
.index-main-hero .hero-background-wrapper {
  width: 100%;
  height: calc(100% + 80px);
  z-index: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  &.video {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &.mobile-image {
    display: block;
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}


.index-hero-float-box {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50px;
  @media (min-width: $screen-sm) {
    top: 150px;
  }
}

.index-hero-copy-wrapper {
  width: auto;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 36px;
  padding-right: 36px;
  max-width: 700px;
  @media (min-width: $screen-lg) {
    margin-left: -48px;
  }
}
.index-hero-copy-wrapper h1 {
  margin-bottom: 18px;
  // Our hero logo is way too long to dispay with our original h1 font-size
  font-size: 36px;
  @media (min-width: $screen-sm) {
    font-size: 48px;
    color: nth($mz-darkpurples, 1) !important;
  }
}
.index-hero-copy-wrapper .btn-with-arrow {
  margin-bottom: 24px;
}
