//
// Pricing page specific components
// --------------------------------------------------

// Product display
.pricing-page-product {
  border-bottom: 1px solid $table-border-color;
  padding-top: $section-xs-padding;
  padding-bottom: $section-padding;

  &:last-of-type {
    border-bottom: 0;
  }

  h4 {
    color: $mz-purple-3;
    text-transform: uppercase;
    margin-bottom: 0.25em;
    font-weight: 400;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 36px;
  }

  .list-checkmarks {
    margin-top: 36px;
  }
}

// Billing estimator
.billing-info-wrapper {
  border: 1px solid $mz-purple-3;
  line-height: 1.2;

  .base-pricing-info {
    padding: 12px;
  }

  .additional-pricing-info {
    background-color: $mz-purple-2;
    color: #fff;
    padding: 12px;
  }

  .price-text {
    font-size: 48px;
    font-family: $display-font-family;
    font-weight: $display-font-weight-bold;
  }

  .base-price.price-text {
    color: $mz-purple-2;
  }
}

.billing-estimator-wrapper {
  border: 1px solid $mz-purple-3;

  input[type="range"] {
    margin-top: 10px;
  }

  h4 {
    color: $mz-darkpurple-1;
  }

  .request-based-text {
    font-family: $display-font-family;
    font-weight: $display-font-weight-bold;
    color: $mz-darkpurple-1;
  }

  .estimated-price-box {
    padding: 6px;
    /* On "top" */
    background-color: #efefef;
    background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 255),
      rgba(255, 255, 255, 255) 3px,
      #efefef 6px,
      #efefef 6px
    );
  }

  & + .scale-message-box {
    height: 24px;
  }
}
