/* This project list was initiated to be included on index page */
/* But we changed our index page design, so this project list style is not used on index page any more */
/* Leaving this code here since we are discussing to include project list on  new upcoming page of mapzen.com */

$list-row-height: 200px;

.projects-list {
  .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .project > [class*='col-'] {
    height: auto;
    @media (min-width: $screen-sm) {
      height: $list-row-height;
    }
  }

  .project-icon, .project-link {
    padding-top: 24px;
    padding-bottom: 12px;
    @media (min-width: $screen-sm) {
      padding-top: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .description {
    @media (min-width: $screen-sm) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
