.full-section {
  padding-top: $section-xs-padding;
  padding-bottom: $section-xs-padding;
  text-align: center;
  overflow: hidden;
  @media (min-width: $screen-sm) {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    position: relative;
    text-align: left;
  }
}


/* For sections with contour image background */
/* This section doesn't have default background-image */
/* background-image can be added through additional image below */

.with-background {
  background-color: nth($mz-scarlets, 2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (min-width: $screen-sm) {
    background-attachment: fixed;
  }
}

.full-section {
  h1, h2, h3 {
    margin-top: 0;
  }
}
.with-background {
  h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
  }
}

.purple-contour {
  background-color: $mz-purple-2;
  background-image: url('/common/styleguide/images/background/contour_purple_sm.png');

  @media (min-width: $screen-sm) {
    background-image: url('/common/styleguide/images/background/contour_purple_lg.png');
  }
}

.scarlet-contour {
  background-color: $mz-scarlet-2;
  background-image: url('/common/styleguide/images/background/contour_scarlet_xs.png');

  @media (min-width: $screen-xs) {
    background-image: url('/common/styleguide/images/background/contour_scarlet_sm.png');
  }

  @media (min-width: $screen-sm) {
    background-image: url('/common/styleguide/images/background/contour_scarlet_lg.png');
  }
}
