//
// Job postings
// --------------------------------------------------

.jobs {
  list-style: none;
  padding: 0px;

  // Custom, lighter weight bullet
  // Positioned to ensure that links that wrap to a
  // second line will retain its indentation
  li.job-title {
    float: left;
    position: relative;
    padding: 40px 0px;
    padding-left: 26px;
    width: 50%;
    height: 110px;
    font-size: 26px;
    font-weight: 300;
    color: $link-color;

    @media (max-width: $screen-xs-max) {
      padding: 0 0 0 22px;
      margin: 20px 0;
      height: 35px;
      width: 100%;
      font-size: 22px;
    }

    &::before {
      content: '•';
      left: 0;
      position: absolute;
    }
  }
}
