//
// Section navigation component
// --------------------------------------------------

$section-nav-height: 50px;
$section-nav-background-color: #0f0f0f;
$section-nav-background-translucent: transparentize($section-nav-background-color, .25);
$section-nav-hitbox-lower-buffer: 30px;
$section-nav-transition-time: 0.25s; // All other animations
$section-nav-scroll-time: 0.25s; // Time to scroll through section list
$section-nav-z-index: 2000;

$main-nav-height: $header-height;

.section-nav {
  position: fixed;
  top: 20px + $main-nav-height;
  width: 100%;
  height: $section-nav-height;
  font-size: 1rem;
  overflow: hidden;
  z-index: 2000;
  pointer-events: none;

  -webkit-transform: translate(0,0);
     -moz-transform: translate(0,0);
          transform: translate(0,0);
  -webkit-transition: top $section-nav-transition-time;
     -moz-transition: top $section-nav-transition-time;
          transition: top $section-nav-transition-time;

  // Fix font rendering on Safari/OSX changing weight
  // when position: fixed
  -webkit-font-smoothing: subpixel-antialiased;

  // Links!
  a {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    outline: 0;

    // Middle state
    // Slightly smaller text in case there is a lot of nav items
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      padding: 0 15px;
    }
  }

  a:hover,
  a:visited,
  a:active {
    color: white;
  }

  // When section nav is floating
  &.is-floating {
    top: 20px;

    // Floating AND fixed main navigation
    // Go back to regular top position
    body.fixed-main-nav & {
      top: 20px + $main-nav-height;
    }
  }

  // When section nav is collapsed!
  &.is-collapsed {
    .section-nav-container {
      // Placeholder width; recalculated by script
      width: 300px;
    }

    .section-nav-items {
      // Placeholder width; recalculated by script
      width: 150px;
    }

    .section-nav-items {
      background-color: $mz-red;
    }

    // Set animation transition for scrolling through
    // sections while the nav is collapsed.
    ul {
      position: absolute;
      top: 0;
      -webkit-transition: top $section-nav-scroll-time;
         -moz-transition: top $section-nav-scroll-time;
              transition: top $section-nav-scroll-time;
    }

    li {
      display: block;
    }

    li.section-nav-item-egg {
      // Override default display of none
      display: block;
    }

    // Override right padding (gives extra space for visual element)
    a {
      padding-right: 40px;
    }

    .section-nav-dropdown {
      display: block;
    }
  }

  // Minimal (mobile) state
  // TODO: Refactor out !importants
  @media (max-width: $screen-xs-max) {
    // Place just underneath the nav
    top: $header-height-mobile !important;

    // Move up when main nav is hidden
    body.hide-fixed-main-nav & {
      top: 0 !important;
    }

    .container {
      padding: 0;
    }

    .section-nav-container {
      // Overrides anything placed on this element by JS
      width: 100% !important;
    }

    // Hide menus
    .section-nav-items {
      display: none;
    }

    a {
      // Overrides right padding from .is-collapsed
      padding-right: 20px !important;
    }
  }
}

@media (min-width: $screen-sm-min) {
  // Always maintain some room on either side of nav for underlying map UI
  .section-nav > .container {
    max-width: calc(100% - 70px);
  }
}

.section-nav-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: $section-nav-height;
  background-color: $section-nav-background-translucent;
  overflow: hidden;
  z-index: 2000;
  pointer-events: auto;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  .section-nav.enable-animation & {
    -webkit-transition: width $section-nav-transition-time;
       -moz-transition: width $section-nav-transition-time;
            transition: width $section-nav-transition-time;
  }
}

.section-nav-title {
  display: inline-block;
  position: relative;
  height: $section-nav-height;
  color: white;
  text-shadow: 0 1px 1px black;
  vertical-align: top;
  opacity: 1;

  // Semantically, the title of this component is a h2 element
  // Styles override default page h2
  h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
    line-height: $section-nav-height;

    // Middle state
    // Slightly smaller text in case there is a lot of nav items
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      font-size: 1.8em;
    }
  }
}

.section-nav-items {
  display: inline-block;
  height: $section-nav-height;
  position: absolute;
  right: 0;
  overflow: hidden;

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;

    // Prevent spaces between inline blocks
    font-size: 0;
    white-space: nowrap;

    // Float is used for positioning in its default state,
    // so it ignores the 'top' property used for positioning
    // in its collapsed state.
    float: right;
  }

  li {
    display: inline-block;
    line-height: $section-nav-height;
    font-size: 14px;
    color: white;

    // Middle state
    // Slightly smaller text in case there is a lot of nav items
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      font-size: 13px;
    }

    &:not(.active):not(:hover) {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    &:hover {
      background-color: desaturate(darken($mz-red, 10%), 20%);
    }

    body:not(.is-scrolling) &.active, // Prevents scrolling from visually turning on menu items
    &.active:hover,
    &.activated {
      background-color: $mz-red;
    }

    &.section-nav-item-egg {
      display: none;
      padding: 0 20px; // No anchor tag, so apply padding here
    }
  }
}

.section-nav-dropdown {
  display: none;
  position: absolute;
  right: 9px;
  bottom: 9px;
  color: white;
  font-size: 8px;
  opacity: 0.85;
  pointer-events: none;
}

.section-nav-hitbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px + $section-nav-height + $section-nav-hitbox-lower-buffer; // Top margin + nav height + lower buffer
  z-index: $section-nav-z-index - 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;

  // Disable pointer events by default
  pointer-events: none;

  // Activate pointer events when enabled
  .section-nav.enable-hitbox + & {
    pointer-events: auto;
  }

  // Extend hitbox when fixed main nav is revealed
  body.fixed-main-nav & {
    height: 20px + $section-nav-height + $section-nav-hitbox-lower-buffer + 56px; // Top margin + nav height + lower buffer + main nav height
  }

  // Always hidden on mobile
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
