<div class="jobs headroom-large">
    <h5>Colors</h5>
    <div class="row">
        <p> There are three primary brand colors that are derived from the logo. These are mostly used as accents like red headings are strongly Mapzen.</p>
        <div class="row col-md-5 color_value primary1">
            <h3>Red ($mz-red)</h3>
        </div>
        <div class="row col-md-5 color_value primary2">
            <h3>Blue ($mz-blue)</h3>
        </div>
        <div class="row col-md-5 color_value primary3">
            <h3>Yellow ($mz-yellow)</h3>
        </div>
    </div>
    <div class="row headroom">
        <p> Secondary colors complement the colorful primary palette and used for text, borders etc.</p>
        <div class="row col-md-5 color_value secondary1">
            <h3>Off Black ($mz-black)</h3>
        </div>
        <div class="row col-md-5 color_value secondary2">
            <h3>Dark Gray ($mz-darkgray)</h3>
        </div>
        <div class="row col-md-5 color_value secondary3">
            <h3>Medium Gray ($mz-mediumgray)</h3>
        </div>
        <div class="row col-md-5 color_value secondary4">
            <h3>Background Gray ($mz-lightgray)</h3>
        </div>
    </div>
    <div class="row headroom">
        <p> Tertiary colors are derived from the primary colors and are used in rare cases like as hover states for buttons</p>
        <div class="row col-md-5 color_value tertiary1">
            <h3>Dark Red ($mz-darkred)</h3>
        </div>
        <div class="row col-md-5 color_value tertiary2">
            <h3>Dark Blue ($mz-darkblue)</h3>
        </div>
        <div class="row col-md-5 color_value tertiary3">
            <h3>Dark Yellow ($mz-darkyellow)</h3>
        </div>
        <div class="row col-md-5 color_value tertiary4">
            <h3>Brown ($mz-brown)</h3>
        </div>
    </div>
</div>