<div class="headroom-large">
  <h5>Colors</h5>
  <div>
    <p> There are three primary brand colors that are derived from the logo. These are mostly used as accents like red headings are strongly Mapzen.</p>
    <div class="col-md-12 color-value mz-red">
        <h3 class="col-md-9">Mapzen Red</h3><code class="col-md-2">.mz-red</code>
    </div>
    <div class="col-md-12 color-value mz-blue">
        <h3 class="col-md-9">Mapzen Blue</h3><code class="col-md-2">.mz-blue</code>
    </div>
    <div class="col-md-12 color-value mz-yellow">
        <h3 class="col-md-9">Mapzen Yellow</h3><code class="col-md-2">.mz-yellow</code>
    </div>
  </div>
  <div class="headroom">
    <p>Secondary colors complement the colorful primary palette and used for text, borders etc.</p>
    <div class="col-md-12 color-value mz-black">
        <h3 class="col-md-9">Off Black</h3><code class="col-md-2">.mz-black</code>
    </div>
    <div class="col-md-12 color-value mz-darkgray">
        <h3 class="col-md-9">Dark Gray</h3><code class="col-md-2">.mz-darkgray</code>
    </div>
    <div class="col-md-12 color-value mz-mediumgray">
        <h3 class="col-md-9">Medium Gray</h3><code class="col-md-2">.mz-mediumgray</code>
    </div>
    <div class="col-md-12 color-value mz-lightgray">
        <h3 class="col-md-9">Light Gray</h3><code class="col-md-2">.mz-lightgray</code>
    </div>
  </div>
  <div class="headroom">
    <p> Tertiary colors are derived from the primary colors and are used in rare cases like as hover states for buttons</p>
    <div class="col-md-12 color-value mz-darkred">
        <h3 class="col-md-9">Dark Red</h3><code class="col-md-2">.mz-darkred</code>
    </div>
    <div class="col-md-12 color-value mz-darkblue">
        <h3 class="col-md-9">Dark Blue</h3><code class="col-md-2">.mz-darkblue</code>
    </div>
    <div class="col-md-12 color-value mz-darkyellow">
        <h3 class="col-md-9">Dark Yellow</h3><code class="col-md-2">.mz-darkyellow</code>
    </div>
    <div class="col-md-12 color-value mz-brown">
       <h3 class="col-md-9">Brown</h3><code class="col-md-2">.mz-brown</code>
    </div>
  </div>
</div>