<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>styleguide</title>
    <link rel="stylesheet" type="text/css" href="styles/styleguide.css">
</head>
<body>
  <div class="container">
    <h1>Mapzen Web Styleguide</h1>

    <h2>How To Use</h2>
    <p>
        <a href="https://github.com/mapzen/styleguide">Find it on Github at <code>mapzen/styleguide</code></a>.
    </p>
    <p>
        Use CSS from the Styleguide on any Mapzen-branded page by including
        this link tag in your HTML document head:
    </p>
    <pre>&lt;link rel="stylesheet" href="https://mapzen.com/common/styleguide/styles/blog.css" type="text/css"&gt;</pre>

    <h2>Components</h2>
    <hr>

  @@include('./general/button/index.html')
  @@include('./general/heading/index.html')
  </div>
</body>
</html>
