
/* button styles */

.btn {
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  font-weight: $bold-font-weight;
  padding: 12px 24px;
}

// Red button
.btn-mapzen {
  border-color: $mz-red;
  background-color: $mz-red;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  font-weight:400;

  &:hover,
  &:focus {
    border-color: $mz-darkred;
    background-color: $mz-darkred;
    color: #fff;
  }
}

// Blue button
.btn-mapzen-alt {
  border-color: $mz-blue;
  background-color: $mz-blue;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  font-weight:400;

  &:hover,
  &:focus {
    border-color: $mz-darkblue;
    background-color: $mz-darkblue;
    color: #fff;
  }
}

// mapzen V1

.btn-darkpurple {
  background-color: nth($mz-darkpurples, 1);
  color: #ffffff;
  &:hover,
  &:focus {
    background-color: nth($mz-darkpurples, 3);
    color: $mz-lightgray;
  }
}

.btn-white {
  background-color: #ffffff;
  color: nth($mz-darkpurples, 1);
  &:hover,
  &:focus {
    background-color: nth($mz-darkpurples, 5);
  }
}

.btn-with-arrow {
  background-color: transparent;
  color: nth($mz-scarlets, 2);
  padding: 12px;
  /* Make only padding right bigger, so we can put arrow image */
  padding-left: 0;
  padding-right: 32px;
  font-size: 0.85em;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS42IiBoZWlnaHQ9IjguNjQiIHZpZXdCb3g9IjAgMCAyMS42IDguNjQiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkY3QjdCIiBkPSJNMjAuOCA0LjMybC03IDMuNXYtN3oiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGN0I3QiIgZD0iTS44IDIuODJoMTR2M0guOHoiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: right center;

  &:hover,
  &:focus {
    color: nth($mz-scarlets, 1);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS42IiBoZWlnaHQ9IjguNjQiIHZpZXdCb3g9IjAgMCAyMS42IDguNjQiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkY0OTQ3IiBkPSJNMjAuOCA0LjMybC03IDMuNXYtN3oiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGNDk0NyIgZD0iTS44IDIuODJoMTR2M0guOHoiLz48L3N2Zz4=');
  }
}


// Transparent button
// Sometimes on white, sometimes on light gray
.btn-transparent {
  background: transparent;
  border: 1px solid $mz-darkgray;
  color: $mz-darkgray;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    border-color: $mz-darkgray;
    color: $mz-darkgray;
  }
}

// Disable buttons group's shartp border

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}


// tag links for blog posts
.tag-list {
  text-align: center;
  padding: 0;
  a {
    li {
      display: inline-block;
      color: $mz-mediumgray;
      background-color: $mz-lightgray;
      padding: .35em .8em;
      margin: .4em .4em;
    }
  }
}

// Button groups
// Giving margin-right to the buttons
.btn-group .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

// Undo the overall bottom margin
.btn-group {
  margin-bottom: -10px;
}
