//Variables

// Mapzen primary colors
$mz-red: #d4645c;
$mz-blue: #6ea0a4;
$mz-gray: #898989;
$mz-yellow: #e6ead2;

// Mapzen secondary colors
$mz-darkgray: #444;
$mz-mediumgray: #666666;
$mz-lightgray: #f8f8f8;
$mz-black: #191919;

// Mapzen tertiary colors
$mz-darkred: #993434;
$mz-darkblue: #385d5c;
$mz-darkyellow: #d3c756;
$mz-brown: #563630;


// Mapzen site v1.0
// This follows color palette
// From less saturated color to more saturated color
$mz-darkpurples: #1E0E33, #2C1E3F, #635378, #AD9CC2, #EEE7F8;
$mz-scarlets: #FF4947, #FF7B7B, #FCDBDB;
$mz-pinks: #F9A293, #F7BEB4, #FBE6E3;
$mz-purples: #7F2DE3, #985FDD, #BDA2DD;


// Text colors
$link-color: $mz-blue;
$link-hover-color: $mz-darkblue;
$body-text: $mz-darkgray;
$caption: $mz-mediumgray;

// Button colors
$button-primary: $mz-red;
$button-primary-hover: $mz-darkred;
$button-tertiary: $mz-blue; //used in the developer section
$button-tertiary-hover: $mz-darkblue; //used in the developer section

// Navigation colors
$active: $mz-red;
$hover: $mz-black;
$disabled: $mz-mediumgray;

//Backgrounds and borders
$background-light: $mz-lightgray;
$button-secondary-border: $mz-black;

// developer dashboard colors (from common/developer-dashboard.scss and developer/developer-login.scss)
$devErrorRed:#b4382f;
$pendingColor:#E09500;
$errorColor:#c62b28;
$okColor:#63a240;


//Classes for styleguide
.mz-darkpurples1 {
    background-color: nth($mz-darkpurples, 1);
    color: #fff;
}
.mz-darkpurples2 {
    background-color: nth($mz-darkpurples, 2);
    color: #fff;
}
.mz-darkpurples3 {
    background-color: nth($mz-darkpurples, 3);
    color: #fff;
}
.mz-darkpurples4 {
    background-color: nth($mz-darkpurples, 4);
    color: #fff;
}

.mz-scarlets1 {
    background-color: nth($mz-scarlets, 1);
    color: #fff;
}
.mz-scarlets2 {
    background-color: nth($mz-scarlets, 2);
    color: #fff;
}
.mz-scarlets3 {
    background-color: nth($mz-scarlets, 3);
}

.mz-pinks1 {
    background-color: nth($mz-pinks, 1);
    color: #fff;
}
.mz-pinks2 {
    background-color: nth($mz-pinks, 2);
    color: #fff;
}
.mz-pinks3 {
    background-color: nth($mz-pinks, 3);
}

.mz-purples1 {
    background-color: nth($mz-purples, 1);
    color: #fff;
}
.mz-purples2 {
    background-color: nth($mz-purples, 2);
    color: #fff;
}
.mz-purples3 {
    background-color: nth($mz-purples, 3);
    color: #fff;
}

.mz-black {
    background-color: $mz-black;
    color: #fff;
}

.mz-darkgray {
    background-color: $mz-darkgray;
    color: #fff;
}

.mz-mediumgray {
    background-color: $mz-mediumgray;
    color: #fff;
}

.mz-lightgray {
    background-color: $mz-lightgray;
}