//
// Footer
// --------------------------------------------------

// Page layout modifier
body.no-footer {
  #footer,
  footer {
    display: none;
  }
}

.footer-background {
  padding-top: 50px;
  background-color: nth($mz-darkpurples, 1);
  border-top: 10px solid nth($mz-scarlets, 2);
}

footer {
  color: nth($mz-darkpurples, 4);

  // TODO: change footer class to btn-white and drop this temporary overwrite:;
  .btn-transparent {
    @extend .btn-white;
  }

  // TODO: remove the gray-text class from slogan
  .slogan {
    color: nth($mz-darkpurples, 4);
  }

  a,
  a:active,
  a:visited {
    color: nth($mz-darkpurples, 5);
  }

  a:hover {
    color: white;
  }
}

.footer-menu {
  font-size: 13px;
  line-height: 1.8;

  h6 {
    font-size: inherit;
    font-weight: $bold-font-weight;
    text-transform: uppercase;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    a,
    a:hover,
    a:active,
    a:visited {
      color: nth($mz-darkpurples, 4);
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    li a {
      font-weight: 400;
    }
  }

  .fa {
    margin-right: 0.25em;
  }
}

// Padding to re-balance the effect of left-aligned text
// appearing to pull to the left
.footer-section {
  padding-left: 30px;

  @media (min-width: $screen-xs-min) {
    padding-left: 40px;
  }

  @media (min-width: $screen-md-min) {
    padding-left: 80px;
  }
}
