.form-group-header {
  font-weight: bold;
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: normal;
}
.wide {
  label { margin: 5px 0; }
}
.tall {
  label { display: block; }
  input[type="text"], input[type="email"] { width: 100%; }
}

input[type="text"], input[type="email"] {
  padding: 3px 5px;
  border: 1px solid #ccc;
}
::-webkit-input-placeholder { font-size: 14px; }
::-moz-placeholder { font-size: 14px; }
:-ms-input-placeholder { font-size: 14px; }

textarea {
  width: 100%;
  padding: 5px;
  height: 6em;
  border: 1px solid #ccc;
}

input[type="search"] {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle fill='none' stroke='#666666' stroke-width='2.2677' stroke-miterlimit='10' cx='9.99' cy='6.512' r='5.5'/><line fill='none' stroke='#666666' stroke-width='2.2677' stroke-miterlimit='10' x1='13.5' y1='10.637' x2='16.789' y2='14.173'/></svg>");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 2px 7px;
  padding: 2px 2px 2px 25px;
  border: 1px solid #ccc;
  height: 30px;
}

.inline-submit {
  height: 26px;
  input { float: left; }
  .btn {
    margin-left: -1px;
    padding: 5px 12px 4px;
    border-color: #ccc;
    line-height: 19px;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='15' viewBox='0 0 40 15'><path fill='none' stroke='#333' stroke-width='2.835' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M17.501 4.381l-7.5 6.238-7.5-6.238'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px auto;
  padding: 2px 38px 2px 10px;
  border-radius: 0;
}
select::-ms-expand {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: .01;
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

input[type="checkbox"] + *:before,
input[type="radio"] + *:before {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0 8px -3px 0;
  content: ' ';
  display: inline-block;
  box-sizing: content-box;
  border: 1px solid white;
}

input[type="checkbox"]:focus + *:before,
input[type="radio"]:focus + *:before {
  border:1px solid rgb(112, 172, 233);
  box-shadow: 0px 0px 5px 0px rgb(112, 172, 233);
}

input[type="checkbox"] + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'><path d='M31.75,4.25v27.5H4.25V4.25h27.5M36,0H0V36H36V0h0Z' transform='translate(0 0)' style='fill:#cdcccc'/></svg>");
}

input[type="checkbox"]:hover + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'><path d='M31.75 4.25v27.5H4.25V4.25h27.5M36 0H0v36h36V0z' fill='#989898'/></svg>");
}
input[type="checkbox"]:checked + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'><path fill='#553831' d='M0 0h36v36H0z'/><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.252' d='M26.19 11.16l-9.17 13.68-7.21-5.22'/></svg>");
}
input[type="checkbox"]:checked:hover + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'><path fill='#3c231e' d='M0 0h36v36H0z'/><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.252' d='M26.19 11.16l-9.17 13.68-7.21-5.22'/></svg>");
}

input[type="radio"] + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'><path d='M18,4.75A13.25,13.25,0,1,1,4.75,18,13.26,13.26,0,0,1,18,4.75M18,0.5A17.5,17.5,0,1,0,35.5,18,17.5,17.5,0,0,0,18,.5h0Z' transform='translate(-0.5 -0.5)' style='fill:#cdcccc'/></svg>");
  border-radius: 10px;
}
input[type="radio"]:hover + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'><path d='M18,4.75A13.25,13.25,0,1,1,4.75,18,13.26,13.26,0,0,1,18,4.75M18,0.5A17.5,17.5,0,1,0,35.5,18,17.5,17.5,0,0,0,18,.5h0Z' transform='translate(-0.5 -0.5)' style='fill:#989898'/></svg>");
}
input[type="radio"]:checked + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'><path d='M18,4.75A13.25,13.25,0,1,1,4.75,18,13.26,13.26,0,0,1,18,4.75M18,0.5A17.5,17.5,0,1,0,35.5,18,17.5,17.5,0,0,0,18,.5h0Z' transform='translate(-0.5 -0.5)' style='fill:#553831'/><circle cx='17.5' cy='17.5' r='9' style='fill:#553831'/></svg>");

}
input[type="radio"]:checked:hover + *:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.97 34.97'><defs><style>.cls-1{fill:#3c231e;}</style></defs><title>Untitled-8</title><path class='cls-1' d='M19,5.77A13.23,13.23,0,1,1,5.77,19,13.25,13.25,0,0,1,19,5.77m0-4.25A17.48,17.48,0,1,0,36.49,19,17.48,17.48,0,0,0,19,1.51h0Z' transform='translate(-1.51 -1.51)'/><circle class='cls-1' cx='17.49' cy='17.48' r='9'/></svg>")
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
  padding: 2px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 25px;
  border-radius: 10px;
  background: #563630;
}
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 25px;
  border-radius: 10px;
  background: #563630;
}
input[type="range"]::-ms-thumb {
  height: 15px;
  width: 25px;
  border-radius: 10px;
  background: #563630;
}
input[type=range]::-moz-range-track {
  opacity: 0;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  display: none;
}
input[type="range"]::-ms-track,
input[type="range"]::-ms-ticks-after,
input[type="range"]::-ms-ticks-before {
  color: transparent;
  border-color: transparent;
}