//
// Media resources page
// --------------------------------------------------

.logos {
  img.logo-sample {
    width: 100%;
    height: auto;
    max-width: 180px;
    margin-bottom: 10px;
  }

  img.logo-sample-square {
    max-width: 120px;
  }

  // Unnecessarily specific bordering
  > div {
    @media (max-width: $screen-xs-max) {
      &:not(:first-child) img.logo-sample {
        border-top: 1px solid $divider-color;
        padding-top: 20px;
      }
    }

    @media (min-width: $screen-xs-min) {
      &:not(:nth-child(-n+2)) img.logo-sample {
        border-top: 1px solid $divider-color;
        padding-top: 20px;
      }
    }
  }
}


.logos {
  .bright-logo-wrapper {
    background-color: nth($mz-darkpurples, 2);
  }

  img.logo-sample {
    width: 100%;
    height: auto;
    max-width: 180px;
    margin-bottom: 10px;
    padding-top: 20px;
  }

  img.logo-sample-square {
    max-width: 120px;
    padding-top: 20px;
  }

  @media (max-width: $screen-xs-max) {
    .dark-logo-wrapper > img.logo-sample {
      border-top: 1px solid nth($mz-darkpurples, 2);
    }
  }

}
