//
// Media resources page
// --------------------------------------------------

.logos {
  .bright-logo-wrapper {
    background-color: nth($mz-darkpurples, 4);
  }

  img.logo-sample {
    width: 100%;
    height: auto;
    max-width: 180px;
    margin-bottom: 10px;
    padding-top: 20px;
  }

  img.logo-sample-square {
    max-width: 120px;
    padding-top: 20px;
  }

}
