//
// Navbar
// --------------------------------------------------

nav {
  font-family: $display-font-family;
  font-weight: $display-font-weight-regular;
  width: 100%;
  height: $header-height-mobile;

  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);

  // Do not animate all; some browsers will animate width or height as DOM paints
  -webkit-transition: top 250ms;
  -moz-transition: top 250ms;
  transition: top 250ms;

  // Ensures positioning above gallery
  // and secondary navigation hitbox
  // TODO: override Bootstrap properly / set up a z-index hierarchy
  z-index: 3500 !important;

  @media (min-width: $screen-sm-min) {
    height: $header-height;

    // override left and right padding on collapsed navbar
    .container {
      padding: 0px;
    }
  }

  li {
    text-transform: uppercase;
    text-align: center;
  }

  .btn-white {
    padding: 8px 16px;
  }

  a {
    font-weight: $display-font-weight-regular;
  }
}

// Positioning for sticky navbar
// See stickynav.js to see when / how these styles are applied
body:not(.is-scrolling) nav.navbar-fixed-top {
  top: 0;
}

body.hide-fixed-main-nav nav.navbar-fixed-top {
  top: -60px;
}

// Apply margin to the body to take up the space
// vacated by fixed-positioned navbar
body {
  margin-top: $header-height-mobile;

  @media (min-width: $screen-sm-min) {
    margin-top: $header-height;
  }
}

// Different styles for mobile dropdown menu
@media (max-width: $screen-xs-max) {
  .navbar-nav {
    background: $navbar-default-bg;
    margin-top: 0;
    margin-bottom: 0;

    li > a {
      display: inline-block;
      background: transparent !important;
    }
  }
}

// Overwrite Bootstrap styles by matching selectors
.navbar {
  border: 0; // Overwrite 1px border width
  transition: 0.8s;
  -webkit-transition:  0.8s;
}
.navbar-nav > li > a {
  line-height: 26px; // Make link fit the height of the navbar
  font-size: $body-small;
}


// Show transparent navbar when anchored to top (used on home page only atm)
body.transparent-main-nav nav.navbar {
  background: transparent;
}


// overriding mobile navbar max-height so we don't have to show scroll bar on smaller screen
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 360px;
}



.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  padding-bottom: 10px;
  border-bottom: 5px solid $navbar-active-link-color;
}

// Navbar and branding size differs on mobile and tablet/desktop+, so
// there is some more involved CSS overriding here
.navbar-brand {
  // Match container edge
  padding: 5px 30px 11px 15px;

  // Branding size at tablet/desktop screen
  @media (min-width: $screen-sm) {
    height: 100%;

    // When the navbar is forced to be full-width
    // of window, apply a padding on the left
    .container-fluid & {
      padding-left: 15px;
    }
  }
}

// Mapzen logo for tablet/desktop+
// This is set as a background-image in CSS so that the
// hover effect background is preloaded, preventing a
// flicker that would have been seen if this was a
// JavaScript-based show/hide of the image element
.mapzen-logo {
  width: 130px;
  height: 40px;
  background-image: url('https://mapzen.com/common/styleguide/images/mapzen-logo-stacked.png');
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: 0 0;

  &:hover {
    background-position: 0 -40px;
  }

  // Set the size and position of the logo at mobile screen
  @media (max-width: $screen-xs-max) {
    height: 36px;
    background-position: 0 0;
    background-size: 117px;

    &:hover {
      background-position: 0 -36px;
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('https://mapzen.com/common/styleguide/images/mapzen-logo-stacked@2x.png');
  }
}


///new header with login state


.navbar-nav > li > a#sign-in {
  min-width: 80px;
  max-width: 225px;
  text-overflow: ellipsis;
}

// Make button to float center on mobile menu, not on bigger screen
@media (min-width: $screen-xs-max) {
  .navbar-nav > li > a#sign-in {
    float: left;
  }
}

.navbar-nav > li > a#sign-up {
  min-width: 118px;
}
.navbar-nav > li > a#sign-up > span {
  line-height: 26px; //cheap way to fix render problem
}

.navbar-nav > li > a > .login-profile-github {
  width: 22px;
  height: 22px;
  float: left;
  position: relative;
  margin-top: 2px;
  border-radius: 50%;
  border: 1px solid nth($mz-darkpurples, 5);
  box-sizing: border-box;
  margin-right: 10px;
}

.navbar-nav > li > a > .login-profile-default {
  width: 28px;
  height: 28px;
  float: left;
  position: relative;
  margin-top: -2px;
  border-radius: 50%;
  border: 1px solid nth($mz-darkpurples, 5);
  box-sizing: border-box;
  margin-right: 10px;
}

.navbar-nav > li > a > .login-txt {
  float: left;
  overflow: hidden;
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar-nav {
  li.active:hover .login-txt {color: $navbar-default-link-active-color;}
  li.active:focus .login-txt {color: $navbar-default-link-active-color;}
  li:hover .login-txt {color: $navbar-default-link-active-color;}
  li a:focus .login-txt {color: $navbar-default-link-active-color;}

  li.active:hover #login-profile {border-color:  $navbar-default-link-hover-color;}
  li.active a:focus #login-profile {border-color:  $navbar-default-link-hover-color;}
  li:hover #login-profile {border-color:  $navbar-default-link-hover-color;}
  li a:focus #login-profile {border-color:  $navbar-default-link-hover-color;}
}

// overriding login button dropdown  menu
#sign-in + .dropdown-menu > li > a {
  text-transform: capitalize;
}
.dropdown-menu > li > a {
  font-weight: $thin-font-weight;
}
// Different styles for mobile dropdown menu
@media (min-width: $screen-xs-max) {
  #sign-in + .dropdown-menu > li {
    text-align: left;
  }
}
