//
// Navbar
// --------------------------------------------------

nav {
  width: 100%;
  height: $header-height-mobile;

  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);

  // Do not animate all; some browsers will animate width or height as DOM paints
  -webkit-transition: top 250ms;
  -moz-transition: top 250ms;
  transition: top 250ms;

  // Ensures positioning above gallery
  // and secondary navigation hitbox
  // TODO: override Bootstrap properly / set up a z-index hierarchy
  z-index: 3500 !important;

  @media (min-width: $screen-sm-min) {
    height: $header-height;
  }

  li {
    text-transform: uppercase;
    text-align: center;
  }
}

// Positioning for sticky navbar
// See stickynav.js to see when / how these styles are applied
body:not(.is-scrolling) nav.navbar-fixed-top {
  top: 0;
}

body.hide-fixed-main-nav nav.navbar-fixed-top {
  top: -60px;
}

// Apply margin to the body to take up the space
// vacated by fixed-positioned navbar
body {
  margin-top: $header-height-mobile;

  @media (min-width: $screen-sm-min) {
    margin-top: $header-height;
  }
}

// Different styles for mobile dropdown menu
@media (max-width: $screen-xs-max) {
  .navbar-nav {
    background: rgba(255,255,255,0.95);
    margin-top: 0;

    li > a {
      display: inline-block;
      background: transparent !important;
    }
  }
}

// Overwrite Bootstrap styles by matching selectors
.navbar {
  border: 0; // Overwrite 1px border width
  border-bottom: 1px solid #e9e9e9;
}
.navbar-nav > li > a {
  line-height: 26px; // Make link fit the height of the navbar
  font-size: $body-small;
  font-weight: 400;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 4px solid $mz-red;
  padding-bottom: 11px;
}

// Navbar and branding size differs on mobile and tablet/desktop+, so
// there is some more involved CSS overriding here
.navbar-brand {
  // Match container edge
  padding: 8px 15px;

  // Branding size at tablet/desktop screen
  @media (min-width: $screen-sm) {
    height: 100%;

    // When the navbar is forced to be full-width
    // of window, apply a padding on the left
    .container-fluid & {
      padding-left: 15px;
    }
  }
}

// Mapzen logo for tablet/desktop+
// This is set as a background-image in CSS so that the
// hover effect background is preloaded, preventing a
// flicker that would have been seen if this was a
// JavaScript-based show/hide of the image element
.mapzen-logo {
  width: 130px;
  height: 40px;
  background-image: url('https://mapzen.com/common/styleguide/images/mapzen-logo-stacked.png');
  background-repeat: no-repeat;
  background-position: 0 -40px;
  background-size: 130px;

  &:hover {
    background-position: 0 0;
  }

  // Set the size and position of the logo at mobile screen
  @media (max-width: $screen-xs-max) {
    height: 31px;
    background-position: 0 0;
    background-size: 110px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('https://mapzen.com/common/styleguide/images/mapzen-logo-stacked@2x.png');
  }
}

li:hover .animated-key {
  background-image: url('https://mapzen.com/common/styleguide/images/key_h.png');
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

li.active:hover .animated-key {
  background-image: url('https://mapzen.com/common/styleguide/images/key.png');
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

// drop down menu for logged in user
.nav-bar > li.dropdown {

}

#login-profile {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%;
  border: 1px solid $mz-red;
  margin-right: 5px;
}


@keyframes rotate-compass {
  from {transform: rotate(0deg);}
  to {transform: rotate(720deg);}
}


.compass {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;

  &:before {
    content: ' ';
    border-bottom: 10px solid $mz-red;
    position: absolute;
    left: 9px;
    top: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform-origin: bottom center;
    animation-name: rotate-compass;
     animation-duration: 4s;

  }
  &:after {
    content: ' ';
    border-top: 10px solid $mz-red;
    position: absolute;
    left: 9px;
    top: 14px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    animation-name: rotate-compass;
     animation-duration: 4s;
  }
}


.animated-key {
  padding-right: 15px;
  display: inline;
  float: left;
  width: 23px;
  height: 28px;
  background-image: url('https://mapzen.com/common/styleguide/images/key.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 80% 80%;
  transition: transform 0.5s ease-out;
}
