//
// Navbar
// --------------------------------------------------

nav {
  width: 100%;
  height: $header-height-mobile;

  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  transform: translate(0,0);

  // Do not animate all; some browsers will animate width or height as DOM paints
  -webkit-transition: top 250ms;
  -moz-transition: top 250ms;
  transition: top 250ms;

  // Ensures positioning above gallery
  // and secondary navigation hitbox
  // TODO: override Bootstrap properly / set up a z-index hierarchy
  z-index: 3500 !important;

  @media (min-width: $screen-sm-min) {
    height: $header-height;
  }

  li {
    text-transform: uppercase;
    text-align: center;
  }
}

// Positioning for sticky navbar
// See stickynav.js to see when / how these styles are applied
body:not(.is-scrolling) nav.navbar-fixed-top {
  top: 0;
}

body.hide-fixed-main-nav nav.navbar-fixed-top {
  top: -60px;
}

// Apply margin to the body to take up the space
// vacated by fixed-positioned navbar
body {
  margin-top: $header-height-mobile;

  @media (min-width: $screen-sm-min) {
    margin-top: $header-height;
  }
}

// Different styles for mobile dropdown menu
@media (max-width: $screen-xs-max) {
  .navbar-nav {
    background: rgba(255,255,255,0.95);
    margin-top: 0;

    li > a {
      display: inline-block;
      background: transparent !important;
    }
  }
}

// Overwrite Bootstrap styles by matching selectors
.navbar {
  border: 0; // Overwrite 1px border width
  border-bottom: 1px solid #e9e9e9;
}
.navbar-nav > li > a {
  line-height: 26px; // Make link fit the height of the navbar
  font-size: $body-small;
  font-weight: 400;
}


// overriding mobile navbar max-height so we don't have to show scroll bar on smaller screen
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 360px;
}



.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 4px solid $mz-red;
  padding-bottom: 12px;
}

// Navbar and branding size differs on mobile and tablet/desktop+, so
// there is some more involved CSS overriding here
.navbar-brand {
  // Match container edge
  padding: 8px 15px;

  // Branding size at tablet/desktop screen
  @media (min-width: $screen-sm) {
    height: 100%;

    // When the navbar is forced to be full-width
    // of window, apply a padding on the left
    .container-fluid & {
      padding-left: 15px;
    }
  }
}

// Mapzen logo for tablet/desktop+
// This is set as a background-image in CSS so that the
// hover effect background is preloaded, preventing a
// flicker that would have been seen if this was a
// JavaScript-based show/hide of the image element
.mapzen-logo {
  width: 130px;
  height: 40px;
  background-image: url('https://mapzen.com/common/styleguide/images/mapzen-logo-stacked.png');
  background-repeat: no-repeat;
  background-position: 0 -40px;
  background-size: 130px;

  &:hover {
    background-position: 0 0;
  }

  // Set the size and position of the logo at mobile screen
  @media (max-width: $screen-xs-max) {
    height: 31px;
    background-position: 0 0;
    background-size: 110px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('https://mapzen.com/common/styleguide/images/mapzen-logo-stacked@2x.png');
  }
}


li:hover .animated-key {
  background-image: url('https://mapzen.com/common/styleguide/images/key_h.png');
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

li.active:hover .animated-key {
  background-image: url('https://mapzen.com/common/styleguide/images/key.png');
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.animated-key {
  padding-right: 15px;
  display: inline;
  float: left;
  width: 23px;
  height: 28px;
  background-image: url('https://mapzen.com/common/styleguide/images/key.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 80% 80%;
  transition: transform 0.5s ease-out;
}

///new header with login state


.navbar-nav > li > a#sign-in {
  min-width: 115px;
  max-width: 235px;
  text-overflow: ellipsis;
}

@media (min-width: $screen-xs-max) {
  // Make button to float center on mobile menu
  .navbar-nav > li > a#sign-in {
    float: left;
  }
}

.navbar-nav > li > a#sign-up {
  min-width: 118px;
}
.navbar-nav > li > a#sign-up > span {
  line-height: 26px; //cheap way to fix render problem
}

.navbar-nav > li > a > #login-profile {
  width: 22px;
  height: 22px;
  float: left;
  margin-top: 2px;
  border-radius: 50%;
  border: 1px solid #d4645c;
  box-sizing: border-box;
  margin-right: 10px; }

.navbar-nav > li > a > .login-txt {
  float: left;
  overflow: hidden;
  max-width: 170px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navbar-nav {
  li.active:hover .login-txt {color: $mz-red;}
  li.active:focus .login-txt {color: $mz-red;}
  li:hover .login-txt {color: #333;}
  li a:focus .login-txt {color: #333;}


  li.active:hover #login-profile {border-color: $mz-red;}
  li.active a:focus #login-profile {border-color: $mz-red;}

  li:hover #login-profile {border-color: #333;}
  li a:focus #login-profile {border-color: #333;}

  li.active:hover .compass:before {border-bottom-color: $mz-red;}
  li.active a:focus .compass:before {border-bottom-color: $mz-red;}
  li.active:hover .compass:after {border-top-color: $mz-red;}
  li.active a:focus .compass:after {border-top-color: $mz-red;}


  li:hover .compass:before {border-bottom-color: #333;}
  li a:focus .compass:before {border-bottom-color: #333;}
  li:hover .compass:after {border-top-color: #333;}
  li a:focus .compass:after {border-top-color: #333;}
}

.compass {
  width: 22px;
  height: 22px;
  position: relative;
  margin-left: -1px; /* arm of compass looks off, this is lame solutionf or it */
  margin-top: -1px; /* arm of compass looks off, this is lame solutionf or it */
  transform-origin: center center;
  transform: rotate(30deg);
  transition: all 2s ease;
  &:before {
    content: ' ';
    position: absolute;
    left: 7px;
    top: 3px;
    border-bottom: 8px solid #d4645c;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  &:after {
    content: ' ';
    position: absolute;
    left: 7px;
    top: 11px;
    border-top: 8px solid #d4645c;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  &:hover {
    transform: rotate(390deg);
  }
}
.compass > .center-dot {
  width: 2px;
  height: 2px;
  background-color: #ccc;
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
}

// overriding login button dropdown  menu
#sign-in + .dropdown-menu > li {
  text-transform: capitalize;
  a {
    color: $mz-red;
  }
}

// Different styles for mobile dropdown menu
@media (min-width: $screen-xs-max) {
  #sign-in + .dropdown-menu > li {
    text-align: left;
  }
}