.content {
  font-size: 18px;
  line-height: 30px;
}

// Styles shared between blog posts and project pages
// Placed here for now.
.content,
.static-content {
  // “Owl selector” provides a 1em margin between each child element in our content
  > * + * {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  p {
    word-wrap: break-word;
  }

  ul li {
    list-style: none;
    text-indent: -0.8em;
  }

  ul li::before {
    content: ' • ';
    font-size: 15px;
    vertical-align: middle;
    padding-right: 5px;
  }

  ul li p {
    display: inline;
  }


  img[alt^='screenshot'],
  img[alt^='Screenshot'] {
    border: 3px solid #e9e9e9;
  }

  img.emoji {
    width: auto;
    padding: 0px;
  }

  //table style, overwrapping with documentation site's table other than width & mobile behaviour
  //on mobile, it breaks down the word to keep its width fit to container.
  table {
    width: 100%;
    border: 2px solid $table-border-color;
    display: block;
    word-break: break-all;
    @media (min-width: $screen-sm-min) {
      width: 100%;
      word-break: keep-all;
    }

    @media (min-width: $screen-md-min) {
      width: 120%;
      margin-left: -10%;
    }

    th {
      border-right: 1px dotted $table-border-color;
      border-bottom: 2px solid $table-border-color;
      padding: 8px;
    }
    td {
      border-top:  1px solid $table-border-color;
      border-right: 1px dotted $table-border-color;
      padding: 8px;
      font-size: 0.9em;
      line-height: 1.1;
      vertical-align: top;
    }
  }
  // These DOM elements are generated from (the non-standard) Markdown footnotes syntax
  // via the Redcarpet extension. If the Markdown parser changes, please check to make
  // sure these selectors will still be valid.
  .footnotes {
    ol {
      font-size: 14px;
      padding-left: 20px;
    }
    // Footnote return link
    li a[rev] {
      font-size: 10px;
      margin-left: 0.25em;
    }
  }

  // Footnote markers need invisible padding so that when they are linked to,
  // the reference doesn't headbutt the top of the viewport and get hidden by
  // the navgation bar.
  sup[id^="fnref"]::before {
    padding-top: 80px;
    margin-top: -80px;
    content: '';
    display: inline-block;
    pointer-events: none;
  }
}

.demo-wrapper {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;

  iframe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
  }
}

.multimedia-wrapper {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  @media (min-width: $screen-md-min) {
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
  }

  video,
  iframe {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  iframe {
    border: 0;
  }
}

.upside-down {
  transform: rotate(180deg);
}

.post-meta {
  background-color: $mz-lightgray;
  padding: 30px 20px;
}
