//
// Additional print styles
// --------------------------------------------------

@media print {
  // Override instances where we don't want Bootstrap to include links
  a.btn[href]:after,
  a.no-print-link:after {
    content: none;
  }
}

// This is to get rid of header and footer with dates for printed content
@page {
  margin: 0;
  size: auto;
}