.table {
  width: 100%;
  border: 2px solid $table-border-color;
  margin-bottom: 0;

  th {
    font-family: $docs-heading-font;
    color: $mz-darkblue;
    font-weight: 700;
    border-right: 1px dotted $table-border-color;
    border-bottom: 2px solid $table-border-color;
    padding: 8px;
  }

  td {
    line-height: inherit !important;
    border-right: 1px dotted $table-border-color;
    border-top:  1px solid $table-border-color;
  }

  // Break long code strings in table cells on small windows
  @media (max-width: 768px) {
    td code {
      word-break: break-word;
      overflow-wrap: break-word;
    }
  }
}

// To allow scrolling wide tables
.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px; // Replace bottom table margin
}
