//Body text

body {
  font-family: $mz-sans-serif;
  font-weight: $thin-font-weight;
  color: nth($mz-darkpurples, 2);
  font-size: 16px;
  line-height: 1.5;
}

// Headings

h1 {
  font-size: 3em;
  font-weight: $bold-font-weight;
  // line-height: 1.2em;
  // margin: 0px;
  // color: $mz-red;
  @media (min-width: $screen-sm) {
    // font-size: 60px;
  }
}


h2 {
  font-weight: $bold-font-weight;
  font-size: 2.25em;
  // line-height: 1.2em;

  @media (min-width: $screen-sm) {
    // font-size: 48px;
  }
}

h3 {
  font-weight: $bold-font-weight;;
  font-size: 1.5em;
  // line-height: 1.2em;
  // margin: 0px;
  // padding: 0px;

  @media (min-width: $screen-sm) {
    // font-size: 24px;
  }
}

// For use in blogs
h4 {
  font-weight: $bold-font-weight;
  font-size: 1em;
  // line-height: 27px;
  // margin: 0px;
  // padding: 0px;

  @media (min-width: $screen-sm) {
    // font-size: 24px;
    // margin-top: 30px;
    // margin-bottom: 10px;
  }
}

// footer get involved
h5 {
  font-weight:  $bold-font-weight;
  font-size: 0.85em;
  // line-height: 1.4em;
  // color: $mz-mediumgray;
}

// link color was missing from style guide
// This is arbiturary one that Hanbyul put
a {
  // font-weight: $bold-font-weight;
  color: nth($mz-scarlets, 2);
  &:hover,
  &:focus {
    color: nth($mz-scarlets, 1);
  }
}

.caption {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: $mz-mediumgray;
}

// Inline code
code {
  padding: 4px 8px;
  margin: 0 2px;
  font-size: 14px;
  line-height: 1.6em;
  color: $mz-mediumgray;
  // Ensure inline code elements have sufficient
  // contrast to differentiate between pure white
  background-color: $mz-lightgray;
}

// Normal prose preformatted text
pre {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid $mz-lightgray;
  border-radius: 0;
  word-break: break-word;
  white-space: pre-wrap;

  // Formatted code blocks
  code {
    display: block;
    margin: -20px;
    padding: 20px;
    width: auto;
    height: 100%;

    // Do not allow code in preformatted blocks to wrap
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $mz-lightgray;
    background-size: 8px 8px;
    background-image: linear-gradient(
      135deg,
      transparent 25%,
      rgba(0, 0, 0, 0.04) 25%,
      rgba(0, 0, 0, 0.04) 50%,
      transparent 50%,
      transparent 75%,
      rgba(0, 0, 0, 0.04) 75%,
      rgba(0, 0, 0, 0.04)
    );
  }
}

quote {
  font-size: 18px;
  color: $mz-darkgray;

  @media (min-width: $screen-md-min) {
    font-size: 24px;
  }
}

pullquote {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: block;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  color: $mz-darkgray;

  @media (min-width: $screen-md-min) {
    font-size: 28px;
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
  }
}

/* about page styles */

.team .name {
  font-size: 16px;
  font-family: "Playfair Display", serif;
}


// Seems unnecessary. All pullquote stuff has been combined above
// .static-content pullquote {
//   width: 100%;
//   margin-top: 1.5em;
//   margin-bottom: 1.5em;

//   @media (min-width: $screen-md-min) {
//     width: 120%;
//     margin-left: -10%;
//     margin-right: -10%;
//   }
// }
