/* This stylefile is written to be temporary. This needs to be gone after dom change of homepage*/

#content h5 {
  font-weight: $bold-font-weight;
  font-size: 2.25em;
}

.static-content h5 {
  font-weight: $bold-font-weight;;
  font-size: 1.5em;
}