/* This stylefile is written to be temporary. This needs to be gone after dom change of homepage*/

#content h5 {
  /* h2 style */
  font-weight: $bold-font-weight;
  font-size: 36px;

  .static-content h5 {
    /* h3 style */
    font-weight: $bold-font-weight;;
    font-size: 24px;
  }
}

