//
// Demo pages
// --------------------------------------------------

body.demo {
  height: auto; // Overrides height: 100% from main site which creates unwanted scrollbars on demos.

  iframe.demo {
    position: fixed;
    top: $header-height;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: calc(100% - #{$header-height});

    // Different height on mobile screens.
    @media (max-width: $screen-xs-max) {
      top: $header-height-mobile;
      height: calc(100% - #{$header-height-mobile});
    }
  }

  #fallback_message {
    position: fixed;
    width: 100%;
    top: $header-height;
    z-index: 10;
    opacity: 0.9;
    border-radius: 0;
  }
}
