#dev-dashboard {

  .stats {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 12px;

    // .custom-dropdown-div {
    //   width: 100px;
    //   background-repeat: no-repeat;
    //   background-position: right center;
    //   margin-right: 5px;
    //   position: absolute;
    // }

    // select.custom-dropdown {
    // font-weight: 700;
    // margin: 0;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // background-color: transparent;
    // width: 100%;
    // padding: 0 3px;
    // border: 0;
    // border-bottom: 1px solid #666;
    // }

  }
  .dropdown-div {
    width: 100px;
    position: absolute;
  }

  .graph {
    margin-top: 35px;
  }

  // overriding background color
  select {
    background-color: $mz-lightgray;
  }

  .loading-bar {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 50px);
  }

  .legend-box {
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .legend-wrapper {
    display: inline-block;
  }

  .axis{shape-rendering:crispEdges;}
  .x.axis line{
    stroke:#000;
  }
  .x.axis path{
    display:none;
  }
  .y.axis line{
    fill:none;
    stroke:#000;
    stroke-width:1;
  }
  .y.axis path{
     display:none;
  }


  .grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  .grid path {
    stroke-width: 0;
  }

  .area {
    fill: rgba(200,200,200,0.3);
    stroke-width: 0;
  }

}
