$signupbtnh:45px;

#dev_login{
  &.container{
    max-width:600px;

    .profile-picture{
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center center;
      border-radius: 50%;
      padding:3px;
      margin: 0 auto;
    }

    .login-wrapper{
      max-width:500px;
      padding:50px 50px;
      margin:0 auto;
      @media(max-width:767px){padding: 20px 20px;}

      .agree-wrapper{
        height:$signupbtnh;
      }

      #sign-up {
        height:$signupbtnh;
        font-size: 16px;
        font-weight:400;
        border: 1px solid $mz-red;
        text-transform: uppercase;
        margin-top: 20px;
      }

      button#sign-up[disabled] {
        background: $mz-gray;
        border: 1px solid $mz-gray;
        cursor: default;
      }


      .btn-github {
        border-radius: 0px;
        color: white;
        background-color: #444444;
        border: 1px solid #444444;
        text-transform: uppercase;
        font-weight: 600;
        padding: 16px 18px;
        margin-top: 30px;
        letter-spacing:1px;
        font-size:18px;

      }

      .login-title {
        font-weight: 400;
      }

      .login-btn{
        height:38px;
        width:100%;
        z-index:20;
      }

      .agree{
        padding-left:0px;
        padding-right:5px;
      }

      .scrumb{
        border-bottom:1px solid $mz-blue;
      }

      .show-email {
        border:1px solid #666;
      }

      .login-profile-pic{
        @extend .profile-picture;
        width:100px;
        height:100px;
        margin-top:5px;
        border:1.5px solid $mz-darkblue;
        display:block;
      }

      .octocat{
        width:150px;
        height:150px;
        background-size:90% 90%;
        background-image:url('../images/octocat.png');
        margin:0 auto;
        border: 1px solid $mz-darkgray;
        &:hover{
          background-image:url('//octodex.github.com/images/spidertocat.png');
        }
      }
      .info-box{
        width:100%;
        border:1px solid #666;
        padding: 20px 10px;
        margin-top: 10px;
        font-weight: 600;
        letter-spacing:1px;
        .username{
          font-size:16px;
        }
        .email-info{
          font-size:16px;
        }
      }
      .instruction {
        margin-top: 30px;
      }
    }
  }
}
