#dev-dashboard{

  &.container{
    @media(max-width:767px){width:100%;}
    @media (min-width: 768px) {width:100%;}
    @media (min-width: 992px) { width:970px;}
    @media (min-width: 1200px) {width:1030px;}

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .login-info {
    text-align: right;
    float: right;
    padding-top: 20px;
    margin: 20px 0;
  }

  .info {
    float: left;
    font-size:14px;
    font-weight:400;
    padding-right: 20px;
    font-weight:400;
  }

  /*inside of dashboard*/
  #projects {

    .project-wrapper {
      width: 100%;
      padding: 10px;
      margin-bottom: 30px;
    }

    .desc {
      @media(max-width:767px) {
        margin-bottom: 10px
      }
    }

    .project-name {
      font-family: $mz-serif;
      font-weight: 400;
      font-size: 34px;
    }

    // temporary to warn users that keys got merged
    .alert {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .add-key {
      width: 100%;
    }

    .btn-add-key{
      /*tweaked color to green*/
      background-color: $mz-blue;
      border: 1px solid $mz-blue;
      color: #fff;

      width: 100%;
      height: 65px;

      letter-spacing: 1.1px;
      text-transform: uppercase;
    }

    .btn-add-key:focus,.btn_mapzen.btn-add-key:hover{
      background-color: $mz-darkblue;
      border: 1px solid $mz-darkblue;
    }

    .btn-add-key:disabled {
      background-color: #c2d7d9;
      border-color: #c2d7d9;
    }
    //show no-key or maximum key status
    .key-alert-message {
      float: left;
      width: 100%;
      color: $mz-mediumgray;
      font-family: $mz-serif;
      font-size: 18px;
      font-style: italic;
      padding-top: 20px;
    }

    .project-desc-row{
      font-size:16px;
      font-weight:300;
      color:#666;
      border-bottom:3px solid #eee;
      padding-bottom: 10px;
    }

    .meta {
      margin: 0;
    }

    .key-row {
      //for animation
      transition: all 1s ease-out;
      opacity: 0;
      height: 0;
    }

    .key-row.show{
      background-color:#f3f3f3;
      opacity:1;
      height:auto;
      padding-top: 10px;
      padding-bottom:10px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .key-value {
      color:#666;
      font-weight:700;
      font-size:14px;
    }

    .copy-key {
      cursor: pointer;
      position: relative;
      background-color: transparent;
      border: 0;
      padding: 2px;
      color: $mz-blue;
    }
    .copied {
      // tool tip to show snippet was succdssfully copied
      &::after {
        font-family: $mz-sans-serif;
        font-weight: 300;
        content: 'Copied';
        background-color: $mz-blue;
        color: #fff;
        position: absolute;
        left: 0px;
        top: 25px;
        padding: 3px;
      }
    }

    .not-copied {
      &::after {
        font-family: $mz-sans-serif;
        content: 'Copy Failed';
        background-color: $mz-blue;
        color: #fff;
        position: absolute;
        left: 0px;
        top: 25px;
        padding: 3px;
      }
    }

    .category{
      display:inline;
      font-size:14px;
      font-weight: 300;
      color:#666;
    }

    .key-name-row{
      margin-bottom: 10px;
    }
    .key-name{
      //font-size:18px;
      cursor: pointer;
      font-family: $mz-serif;
      font-weight: 400;
      color: $mz-blue;
      // using button for tab event
      background-color: transparent;
      border: 0;
      padding: 1px;
      border-bottom: dashed 1px $mz-blue;
    }

    .key-btns-wrapper {
      text-align: right;
      vertical-align: middle;
    }

    .key-badge{
      width: 105px;
      height: 31px;
      margin: 5px 10px 5px 5px;
      padding-top:5px;
      color:#fff;
      display: inline-block;
      text-align: center;
      //because white letter looks bigger
      font-size:14px;
      letter-spacing:0.8px;
      text-transform: uppercase;
      @media(max-width:767px){
        width:80px;
        font-size:12px;
        letter-spacing:0.6px;
      }
    }

    .pending {
      width: 0px;
      height: 0px;
      position: relative;
      &:before {
        content: ' ';
        position: absolute;
        top: -5px;
        right: 0;
        border: 4px solid $mz-gray;
        border-bottom-color: transparent;
        border-radius: 50%;
        width: 20px;
        margin: 0;
        margin-right: 5px;
        height: 20px;
        animation: spinning 1s infinite linear;
        -webkit-animation: spinning 1s infinite linear;
        -moz-animation: spinning 1s infinite linear;
      }
    }

    //loading spinner animation
    @keyframes spinning {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    @-webkit-keyframes spinning {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    @-moz-keyframes spinning {
      0% { -moz-transform: rotate(0deg); }
      100% { -moz-transform: rotate(360deg); }
    }

    .errored { background-color:$errorColor; }

    .square {
      background-color: transparent;
      width: auto;
      height: 30px;
      margin: 5px;
      padding: 0 5px;
      border:1px solid #000;
      &.selected {
        background: $mz-gray;
      }
      &:hover {
        background-color: $mz-gray;
      }
      .fa {
        color: $mz-blue;
      }
    }
    .created-at{
      padding-top: 5px;
      padding-right: 10px;
      font-size: 14px;
      /* not to make it change height when content is fetched slowly */
      min-height: 30px;
      text-align: right;
      color: #666;
    }
  }

  .notice{
    position:fixed;
    top:50%;
    left:50%;
    padding:10px;
    font-size:20px;
    text-align: center;
    color:#666;
    background-color:#fff;
    z-index:1030;
    &.created{
      width:100%;
      margin-left:-50%;
    }
    &.deleted{
      width:100%;
      margin-left:-50%;
    }
  }

  .delete-confirm {
    margin-bottom: 30px;
  }
  .error-msg{
    color:$devErrorRed;
    font-weight:400;
  }
  .modal-content{
    border-radius: 0px;
    padding:20px;
    display:inline-block;
   // width:100%;
  }
  .modal-dialog{
    margin:80px auto;
  }
  .no-padding {
    padding: 0px;
  }
}

.block-body{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:#000;
  opacity:0.3;
  z-index:1000;
}