$signupbtnh:45px;
/* TO DO : Get rid of this #dev_login selector */
#dev_login{
  &.container{
    max-width:600px;

    .gray-text {
      color: nth($mz-darkpurples, 2);
    }

    .profile-picture{
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center center;
      border-radius: 50%;

      margin: 0 auto;
    }

    .login-wrapper{
      max-width:500px;
      padding:50px 50px;
      margin:0 auto;
      @media(max-width:767px){padding: 20px 20px;}

      .agree-wrapper{
        height:$signupbtnh;
      }

      #sign-up, #accept-sign-up {
        height:$signupbtnh;
        font-size: 16px;
        font-weight:400;
        border: 1px solid nth($mz-darkpurples, 1);
        text-transform: uppercase;
        margin-top: 20px;
      }

      button#sign-up[disabled] {
        background: $mz-gray;
        border: 1px solid $mz-gray;
        cursor: default;
      }
      button#accept-sign-up[disabled] {
        background: $mz-gray;
        border: 1px solid $mz-gray;
        cursor: default;
      }

      .btn-github {
        border-radius: 0px;
        color: white;
        background-color: #444444;
        border: 1px solid #444444;
        text-transform: uppercase;
        font-weight: 600;
        padding: 16px 18px;
        margin-top: 30px;
        letter-spacing:1px;
        font-size:18px;

      }

      .login-title {
        font-weight: 400;
      }

      .login-btn{
        height:38px;
        width:100%;
        z-index:20;
      }

      .agree{
        padding-left:0px;
        padding-right:5px;
      }

      .scrumb {
        border-bottom:1px solid nth($mz-darkpurples, 1);
      }
      .show-email {
        border:1px solid #666;
      }

      .login-profile-pic{
        @extend .profile-picture;
        width:100px;
        height:100px;
        margin-top:5px;
        border:1.5px solid nth($mz-darkpurples, 1);
        display:block;
      }


      .info-box{
        width:100%;
        border:1px solid #666;
        padding: 20px 10px;
        margin-top: 10px;
        font-weight: 600;
        .username{
          font-size:16px;
        }
        .email-info{
          font-size:16px;
        }
      }
      .instruction {
        margin-top: 30px;
      }
    }
  }
}

.octocat {
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  background-size: 90% 90%;
  border: 1px solid #ccc;
  background-image: url(../images/octocat.png);
  margin: 26px auto;

  &:hover {
    background-image: url('https://octodex.github.com/images/spidertocat.png');
  }
}

.btn-login {
  width: 100%;
  font-weight: 600;
  padding: 16px 18px;
  font-size: 18px;
}

.btn-github {
  color: white;
  background-color: #444444;
  &:hover, &:focus {
    color: white;
    background-color: $mz-gray;
  }
}

#password-label + a {
  float: right;
}

.column-separator {
  position: relative;
  margin-top: 50px;
  height: 400px;
  border-right: 1px solid nth($mz-darkpurples, 5);
}

.column-separator-tag {
  position: absolute;
  top: 50%;
  left: calc(100% - 33px);
  margin-top: -32px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  font-weight: $text-font-weight-bold;
  border-radius: 50%;
  background-color: nth($mz-darkpurples, 5);
  text-transform: uppercase;
  text-align: center;
}

.form-control[readonly] {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid nth($mz-darkpurples, 2);
}
