.octocat{
  width: 200px;
  height: 200px;
  background-repeat:no-repeat;
  background-position:center center;
  border-radius: 50%;
  background-size: 90% 90%;
  border: 1px solid #ccc;
  background-image: url(../images/octocat.png);
  margin: 42px auto 42px auto;
  &:hover{
    background-image:url('//octodex.github.com/images/spidertocat.png');
  }
}

.btn-login {
  width: 100%;
  font-weight: 600;
  padding: 16px 18px;
  font-size: 18px;
}

.btn-github {
  color: white;
  background-color: #444444;
  &:hover, &:focus {
    color: white;
    background-color: $mz-gray;
  }
}

#password-label + a {
  float: right;
}

.separator {
  position: relative;
  margin-top: 50px;
  height: 526px;
  border-right: 1px solid nth($mz-darkpurples, 5);
}

.separator > .tag {
  position: absolute;
  top: 50%;
  left: calc(100% - 33px);
  font-size: 18px;
  padding: 20px;
  font-weight: $text-font-weight-bold;
  border-radius: 50%;
  background-color: nth($mz-darkpurples, 5);
  text-transform: uppercase;
}

.form-control[readonly] {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid nth($mz-darkpurples, 2);
}

