#dev_dashboard{
  .stats{
    position:relative;
    font-size:12px;
    .custom-dropdown-div {
      width: 100px;
      background-repeat: no-repeat;
      background-position: right center;
      margin-right: 5px;
      position: absolute;
    }
    select.custom-dropdown {
    font-weight: 700;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    width: 100%;
    padding: 0 3px;
    border: 0;
    border-bottom: 1px solid #666;
    }
  }

  .line{
    fill:none;
    stroke:#ccc;
    stroke-width:2;
  }

  .axis{shape-rendering:crispEdges;}
  .x.axis line{
    stroke:#000;
  }
  .x.axis path{
    display:none;
  }
  .y.axis line{
    fill:none;
    stroke:#000;
    stroke-width:1;
  }
  .y.axis path{
     display:none;
  }

  .d3-tip {
    line-height: 1;
    text-align:center;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0px;
  }

  .grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  .grid path {
    stroke-width: 0;
  }

  .area {
    fill: rgba(200,200,200,0.3);
    stroke-width: 0;
  }

  .loading-bar {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 50px);
  }
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none;
  text-align:center;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left:0;
}
