.center-text{text-align:center}
.float-left{float:left;}
.float-right{float:right;}
.float-center{display:block; margin-left: auto; margin-right:auto;}
.inline-block{display:inline-block;}

.no-show{display:none;}

.strong{letter-spacing:1px; font-size:18px;}
.bold{font-weight:700; letter-spacing:0.6px;}
