$xsValue: 5px;
$sValue: 10px;
$mValue: 20px;
$lValue: 30px;

$margint: margin-top;
$marginl: margin-left;
$marginb: margin-bottom;
$marginr: margin-right;

$paddingt: padding-top;
$paddingl: padding-left;
$paddingb: padding-bottom;
$paddingr: padding-right;

@mixin helper($prop, $val){
  #{$prop}: $val;
}

@mixin ver-helper($prop, $ver){
  #{$prop}: $ver 0 $ver 0;
}
@mixin hor-helper($prop, $hor){
  #{$prop}: 0 $hor 0 $hor;
}

.xs-top-margin    { @include helper($margint,$xsValue); }
.xs-right-margin  { @include helper($marginr,$xsValue); }
.xs-bottom-margin { @include helper($marginb,$xsValue); }
.xs-left-margin   { @include helper($marginl,$xsValue); }

.s-top-margin    { @include helper($margint,$sValue); }
.s-right-margin  { @include helper($marginr,$sValue); }
.s-bottom-margin { @include helper($marginb,$sValue); }
.s-left-margin   { @include helper($marginl,$sValue); }

.m-top-margin    { @include helper($margint,$mValue); }
.m-right-margin  { @include helper($marginr,$mValue); }
.m-bottom-margin { @include helper($marginb,$mValue); }
.m-left-margin   { @include helper($marginl,$mValue); }

.l-top-margin    { @include helper($margint,$lValue); }
.l-right-margin  { @include helper($marginr,$lValue); }
.l-bottom-margin { @include helper($marginb,$lValue); }
.l-left-margin   { @include helper($marginl,$lValue); }

.s-top-padding    { @include helper($paddingt,$sValue); }
.s-right-padding  { @include helper($paddingr,$sValue); }
.s-bottom-padding { @include helper($paddingb,$sValue); }
.s-left-padding   { @include helper($paddingl,$sValue); }

.m-top-padding    { @include helper($paddingt,$mValue); }
.m-right-padding  { @include helper($paddingr,$mValue); }
.m-bottom-padding { @include helper($paddingb,$mValue); }
.m-left-padding   { @include helper($paddingl,$mValue); }

.l-top-padding    { @include helper($paddingt,$lValue); }
.l-right-padding  { @include helper($paddingr,$lValue); }
.l-bottom-padding { @include helper($paddingb,$lValue); }
.l-left-padding   { @include helper($paddingl,$lValue); }

.no-padding    { @include helper(padding,0); }

.green-text{ color : $mz-darkblue; }
.white-text{ color: $whiteColor; }
.gray-text{ color: $grayColor; }

.gray-bg{ background-color:#aaa !important;}
.center-text{text-align:center}
.float-left{float:left;}
.float-right{float:right;}
.float-center{display:block; margin-left: auto; margin-right:auto;}
.inline-block{display:inline-block;}

.no-show{display:none;}

.strong{ letter-spacing:1px; font-size:18px;}
.bold{font-weight:700; letter-spacing:0.6px;}
.vertical-bottom{vertical-align: bottom;}
.inline-block-display{display:inline-block;}
