.password-manager {
  width: 100%;
  margin-top: 6px;
}
.password-manager > .bar {
  background-color: red;
  width: 0;
  // Set the initial height as zero, and manipulate the height with js later
  height: 0;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  border-radius: 5px;
}