.password-manager {
  margin-top: 8px;
  font-size: 14px;
  height: 21px;
}
.password-manager .bar {
  background-color: #EEE7F8;
  border-radius: 5px;
  margin-top: 8px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}