.container.stats {
  .input-group {
    padding-top: 20px;
    width: 100%;

    /* Custom dropdown, a lot from http://codepen.io/silverdrop/pen/msrcE */
    .custom-dropdown {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }

    .custom-dropdown select {
      width: 150px;
      background-color: #ccc;
      color: #fff;
      font-size: inherit;
      padding: .5em;
      padding-right: 2.5em;
      border: 0;
      margin: 0;
      border-radius: 0px;
      text-indent: 0.01px;
      text-overflow: '';
      -webkit-appearance: button; /* hide default arrow in chrome OSX */
      -moz-appearance: none; /*firefox moz-appearnace button broke */
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
      content: "";
      position: absolute;
      pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
      content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
    }

    .custom-dropdown select[disabled] {
      color: rgba(0,0,0,.3);
    }

    .custom-dropdown select[disabled]::after {
      color: rgba(0,0,0,.1);
    }

    .custom-dropdown::before {
      background-color: rgba(0,0,0,.15);
    }

    .custom-dropdown::after {
      color: rgba(0,0,0,.4);
    }

    input[type='submit'] {
      background-color: $mz-blue;
      color: #fff;
      font-weight: 400;
      border: 0;
      margin-top: 1px;
      padding: 7px 10px;
      text-transform: uppercase;
    }
  }

    #chart {
      width: 100%;
      height: 400px;
      margin-top: 30px;
      background-color: $mz-lightgray;
    }

    table {
      margin-top: 30px;
      thead {
        td {
          line-height: 1em;
        }
      }
      td.date {
        text-align: right;
      }
    }


  padding-top: 50px;

  //stat navigation
  ul.adminnav {
    width: 100%;
    padding-left: 0px;
    a {
      li {
        width: 120px;
        height: 70px;
        float: left;
        margin: 0 calc( ( 33.333% - 120px) / 2);
        padding-top: 40px;
        list-style-type: none;
        position: relative;
        text-align: center;
        &.active {
          font-weight: 600;
          &::before {
            background-image: image-url('../images/marker.png');
          }
        }
        &::before {
          content: ' ';
          width: 120px;
          height: 40px;
          position: absolute;
          left: 0;
          top: 0;
          background-image: image-url('../images/marker1.png');
          background-size: 25px 36px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  ul.highlight {
    font-size: 18px;
    line-height: 28px;
  }

  h3 {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }

}
