//
// Mapzen website default styles
// --------------------------------------------------

html {
  width: 100%;
  height: 100%;
}

.head-text {
  font-family: 'Playfair Display';
  font-weight: 400;
}

.authors a {
  color: #666666;
  text-decoration: none;
}

.more-link {
  font-family: arial,helvetica,sans-serif;
  font-size: .625rem;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color:#326891;
}

.background-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 350px;
}

// The template supplies its own background-image value. We use this
// as opposed to an image tag, because it allows us to set the max-height and
// cut off super tall images that will otherwise behave badly
.blogpost-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  max-height: 350px;
  overflow: hidden;

  // The actual image is used as a sizing device, but otherwise hidden
  img {
    visibility: hidden;
    // Overrides for .content (TODO: HACK)
    max-height: none !important;
    height: auto !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.project_description {
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

.project_description a {
  color: $mz-blue;
}


/* community section styles */

.content.excerpt img {
  width: 100%;
  height: 200px;
}

.content.excerpt_feed img {
  width: 100%;
  max-height: 600px;
  margin:10px 0;
}

.blog-excerpt {
  background-color: $mz-lightgray;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
}

.blog-title-sm a {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
}

/* about page styles */

.about-blurb {
  font-size: 16px;
  line-height: 28px;
}

.team .name {
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

img.avatar {
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: 0.5em;
  padding: 2px;
  border: 1.5px solid $mz-blue;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px white;
}

img.avatar-about {
  position: relative;
  width: 42px;
  height: 42px;
  padding: 2px;
  border: 1.5px solid $mz-blue;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px white;
  z-index: 1;

  @media (min-width: $screen-sm) {
    width: 60px;
    height: 60px;
  }
}

.team-soc a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.4em;
}

.meta {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: left;
  display: inline;
  vertical-align: center;

  // Padding between authors and date
  li:not(:first-of-type) {
    padding-left: 10px;
  }

  // Margin between author portraits when there is more than one
  &:not(:first-of-type) {
    margin-left: 1em;
  }
}

ul.authors li span.comma:last-child {
  display:none;
}
.authors li {
  display: inline;
}

.inline li {
  display: inline-block;
}

/* blog post styles */

.blog-header a {
  font-size: 54px;
  letter-spacing: 1px;
  color:#d4645c;
}

.blog-header a:hover {
  text-decoration:none;
  color: #993434;
}

.project-row {
  margin-left: 4%;
  margin-right: 4%;
}

/*jobs page test**/

.job.red-text{
  margin-top:20px;
  margin-bottom:0px;
  font-size:2.3em;
}

// Headings

h1 {
  font-family: 'Playfair Display';
  font-weight: 300;
  font-size: 44px;
  line-height: 1.2em;
  letter-spacing: 1px;
  margin: 0px;

  @media (min-width: $screen-sm) {
    font-size: 60px;
  }
}

h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2em;

  @media (min-width: $screen-sm) {
    font-size: 48px;
  }
}

h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
  padding: 0px;

  @media (min-width: $screen-sm) {
    font-size: 24px;
    line-height: 32px;
  }
}

// For use in blogs
h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
  padding: 0px;

  @media (min-width: $screen-sm) {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

h5 {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.4;
  color: $mz-mediumgray;

  @media (min-width: $screen-sm) {
    font-size: 26px;
    color: $mz-mediumgray;
  }
}

/* responsiveness */

/* small mobile devices */
@media(max-width:767px){
  .social-right {
    float: none;
  }

  .authors img.avatar {
    display: none;
  }

  ul.team {
    list-style: none;
    background-color: $mz-lightgray;
    padding:15px;
    width:100%;
    margin-bottom: 24px;
  }

  .content img {
    max-width:100%;
    width:auto;
    height:auto;
    padding: 20px 0;
    max-height:400px;
    display:block;
    margin: auto;
  }

  .background-image-lg {
    height: 250px;
    background-position: top left;
    background-size: cover;
  }
}

/* tablets */
@media (min-width: 768px) {
  ul.team {
    list-style: none;
    background-color: $mz-lightgray;
    padding:15px;
    width:100%;
  }

  .background-image-lg {
    height: 350px;
    background-position: top left;
    background-size: cover;
  }
}
