<div class="headroom-large">
    <h5>Lists</h5>
    <p>These lists are a taken from the "The Definitive Ranking Of "Star Wars" Planets" article posted on <a href="http://www.buzzfeed.com/jamiewalker/where-to-live-in-the-star-wars-universe-j6dg">Buzzfeed</a></p>
    <div data-xrayhtml class="prism">
      <ol>
        <li>Naboo</li>
        <p>Much like Queen Amidala, Naboo is incredibly beautiful. This planet is home to an ideal mix of major cities, filled with architecture and culture and beautiful swamps and grasslands. And if you get bored - which you won’t - you can always visit the Gungans.</p>
        <li>Coruscant</li>
        <p>This planet is essentially the centre of the galaxy. The upper levels of Coruscant are architecturally marveling, and it remains a planet that the Republic and Empire fight for control of. The lower levels of the planet, however, are littered with crime and injustice.</p>
        <li>Yavin 4</li>
        <p>The ancient Mayan-like ruins that cover Yavin 4 make for a scenic and historical living environment. This moon was also the home of the new Jedi school, following the Battle of Endor. This is definitely a world that had both the light and dark sides battling for it, but if you can look past that then it’s just delightful.</p>
        <li>Bespin</li>
        <p>There are very few job opportunities on this planet if you don’t like mining. However, it is a wonderful planet to live on. The habitats are modern and cleanly finished. Just avoid that Lando Calrissian, as he’s not the best at making deals.</p>
        <li>Alderaan</li>
        <p>This one’s tricky, as it was technically destroyed by the Empire. Preceding that, Alderaan was a planet of incredible beauty and amazing culture.</p>
      </ol>
    </div>
    <div data-xrayhtml class="prism">
      <ul>
        <li><strong>Kashyyyk</strong></li>
        <p>This is truly a planet for the nature lover, covered in vast swamplands and natural fauna which provide an elegant and scenic habitat. If you can befriend the Wookies then you’ll also have some rather cuddly yet hulkish friends. It’s like living the dream. A really, really weird dream.</p>
        <li><strong>Cato Neimoidia</strong></li>
        <p>If you can convince them you’re a Neimoidian then this is the place to settle. This planet was only inhabited by the richest Neimoidians, so come here for a life of luxury. The only downside is that there was once a strong Hutt presence, though it’s not as large as it once was.</p>
        <li><strong>Kamino</strong></li>
        <p>It’s a planet of cities that are built above the ocean. Keep in mind that this area is constantly barraged by storms. Even so, the living facilities are extremely well-kept and hi-tech.</p>
        <li><strong>Endor</strong></li>
        <p>The moon of Endor is a heavily forested surface, making this a great place to build a treehouse, relax, and enjoy the views. Just watch out for those Ewoks.</p>
        <li><strong>Utapau</strong></li>
        <p>Utapau is home to such a unique location. Several cities have made their settlements in the sinkholes across the planet, which are well-designed and architecturally interesting.</p>
      </ul>
    </div>
</div>