<div class="jobs headroom-large">
    <h5>Heading styles</h5>

    <div class="row job-info-container first">
        <div class="col-md-6">
            <h1>This is the H1 text style</h1>
        </div>
        <div class="col-md-6">
            <pre><code class="language-text">&lt;button class="btn btn-mapzen"&gt;button &lt;/button&gt;</code></pre>
        </div>
    </div>

    <div class="row job-info-container">
        <div class="col-md-6">
            <h2>This is the H2 text style</h2>
        </div>
        <div class="col-md-6">
            <pre><code class="language-text"></code></pre>
        </div>
    </div>

    <div class="row job-info-container">
        <div class="col-md-6">
            <h3>This is the H3 text style</h3>
        </div>
        <div class="col-md-6">
            <pre><code class="language-text"></code></pre>
        </div>
    </div>

    <div class="row job-info-container">
        <div class="col-md-6">
            <h4>This is the H4 text style</h4>
        </div>
        <div class="col-md-6">
            <pre><code class="language-text"></code></pre>
        </div>
    </div>

    <div class="row job-info-container">
        <div class="col-md-6">
            <h5>This is the H5 text style</h5>
        </div>
        <div class="col-md-6">
            <pre><code class="language-text"></code></pre>
        </div>
    </div>

    <div class="row job-info-container">
        <div class="col-md-6">
            <h6>This is the H6 text style</h6>
        </div>
        <div class="col-md-6">
            <pre><code class="language-text"></code></pre>
        </div>
    </div>
</div>

